Repository paruff/fawkes: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubeval, kustomize-validate, backstage-catalog-validate, argocd-validate, helm-lint, check-k8s-secrets, mkdocs-validate

Path conditions:
  kubeval: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  kustomize-validate: any of: ^infra/kubernetes/.*kustomization\.yaml$
  backstage-catalog-validate: any of: (catalog-info|\.catalog-info)\.yaml$
  argocd-validate: any of: .*application\.yaml$
  helm-lint: any of: ^infra/kubernetes/.*/Chart\.yaml$
  check-k8s-secrets: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  mkdocs-validate: any of: ^(mkdocs\.yml|docs/.*\.md)$

fix(design-system): bump npm overrides to close 13 Dependabot alerts
  design-system/package-lock.json
  design-system/package.json
Due: none

docs: add build report for design-system npm override bump
  reports/build-report-design-system-overrides-2026-08.md
Due: none

docs: delete zero-reference duplicate/OBE docs
  docs/CHANGELOG-github-actions.md
  docs/EPIC-3-DOCUMENTATION-INDEX.md
  docs/ai/code-reviewer-agent-suggestion.md
  docs/ai/gpt41-default-agent-suggestion.md
  docs/ai/infra-gitops-agent-suggestion.md
  docs/ai/issue-writer-agent-suggestion.md
  docs/ai/test-engineer-agent-suggestion.md
  docs/how-to/RESOURCE_OPTIMIZATION_QUICKSTART.md
  docs/testing/AT-E1-002-IMPLEMENTATION.md
  docs/testing/at-e1-002-validation-guide.md
  docs/validation/prometheus-stack-validation.md
  docs/validation/sonarqube-acceptance-validation.md
Due: mkdocs-validate

docs: fix GOVERNANCE.md typo and 3 stale ADR status fields
  docs/GOVERNANCE.md
  docs/adr/ADR-027 Value Stream Management Integration.md
  docs/adr/ADR-029 Flow Metrics Storage Strategy.md
  docs/adr/ADR-034-tiered-dependency-pinning.md
Due: mkdocs-validate

docs: remove 44 dead links to now-archived implementation-notes/plan
  docs/ai/index.md
  docs/data-platform/index.md
  docs/deployment/index.md
  docs/design/index.md
  docs/observability/index.md
  docs/research/index.md
  docs/testing/index.md
  docs/validation/index.md
  docs/vsm/index.md
Due: mkdocs-validate

docs: flag stalled CAB formation and snapshot-only ci-pipeline-status
  docs/CUSTOMER_ADVISORY_BOARD_MEMBERS.md
  docs/ci-pipeline-status.md
Due: mkdocs-validate

ci(tracer-bullet): wire observability BDD scenario into CI
  .github/workflows/tracer-bullet-ci.yml
Due: none

feat(infra): add Terraform bootstrap for state S3+DynamoDB backend
  infra/aws/bootstrap/.terraform.lock.hcl
  infra/aws/bootstrap/main.tf
  infra/aws/bootstrap/outputs.tf
  infra/aws/bootstrap/variables.tf
Due: none

feat(infra): add IRSA support to eks-namespace module, wire for tracer-bullet
  infra/aws/main.tf
  infra/aws/outputs.tf
  infra/terraform/modules/aws/eks-namespace/.terraform.lock.hcl
  infra/terraform/modules/aws/eks-namespace/main.tf
  infra/terraform/modules/aws/eks-namespace/outputs.tf
  infra/terraform/modules/aws/eks-namespace/variables.tf
  infra/terraform/modules/aws/eks-namespace/versions.tf
  platform/apps/tracer-bullet/serviceaccount.yaml
Due: none

feat(dora-metrics): deploy the DORA metrics exporter via ArgoCD
  .github/workflows/dora-metrics-ci.yml
  platform/apps/dora-metrics-application.yaml
  platform/apps/dora-metrics/deployment.yaml
  platform/apps/dora-metrics/kustomization.yaml
  platform/apps/dora-metrics/secrets.yaml
  platform/apps/dora-metrics/service.yaml
  services/dora-metrics/pytest.ini
  services/dora-metrics/requirements-dev.txt
  services/dora-metrics/tests/test_main.py
Due: argocd-validate

fix(dora-metrics): add tests/__init__.py to fix CI test collection
  services/dora-metrics/tests/__init__.py
Due: none

fix(dora-metrics): resolve Trivy scan failures blocking Build & Push on main
  .github/workflows/dora-metrics-ci.yml
  services/dora-metrics/requirements.txt
Due: none

fix(dora-metrics): fix Dockerfile layout and asyncio scrape crash
  services/dora-metrics/Dockerfile
  services/dora-metrics/app/main.py
Due: none

docs(superpowers): add securityContext hardening design for issue #1583
  docs/superpowers/specs/2026-08-09-securitycontext-hardening-design.md
Due: mkdocs-validate

security(platform): harden securityContext on platform/apps workloads (#1583)
  platform/apps/devex-survey-automation/cronjob-pulse-reminders.yaml
  platform/apps/devex-survey-automation/cronjob-pulse-weekly.yaml
  platform/apps/devex-survey-automation/cronjob-quarterly.yaml
  platform/apps/devex-survey-automation/deployment.yaml
  platform/apps/feedback-service/deployment.yaml
  platform/apps/friction-bot/deployment.yaml
  platform/apps/hasura/deployment.yaml
  platform/apps/hasura/redis.yaml
  platform/apps/ingress-nginx/test-ingress.yaml
  platform/apps/opensearch/configure-index-patterns.yaml
  platform/apps/opensearch/ism-retention-policy.yaml
Due: none

docs: add build report for securityContext hardening (#1583)
  reports/build-report-securitycontext-hardening-2026-08.md
Due: none

docs(superpowers): add securityContext hardening design for issue #1584
  docs/superpowers/specs/2026-08-09-securitycontext-hardening-extensions-design.md
Due: mkdocs-validate

security(extensions): harden securityContext on data-platform workloads (#1584)
  extensions/data-platform/data-quality/deployment-exporter.yaml
  extensions/data-platform/datahub/ingestion/cronjob-git-ci-ingestion.yaml
  extensions/data-platform/datahub/ingestion/cronjob-kubernetes-ingestion.yaml
  extensions/data-platform/datahub/ingestion/cronjob-postgres-ingestion.yaml
Due: none

docs: add build report for securityContext hardening (#1584)
  reports/build-report-securitycontext-hardening-extensions-2026-08.md
Due: none

Update opencode.yml
  .github/workflows/opencode.yml
Due: none

docs: add dojo spin-out design spec
  docs/superpowers/specs/2026-08-15-dojo-spinout-design.md
Due: mkdocs-validate

docs: add dojo spin-out implementation plan
  docs/superpowers/plans/2026-08-15-dojo-spinout.md
Due: mkdocs-validate

docs: point README and catalog-info at uFawkesDojo repo
  README.md
  catalog-info.yaml
Due: backstage-catalog-validate

docs: mark dojo repo spin-out complete in ROADMAP
  ROADMAP.md
Due: none

ci: add standalone commit-lint check, reusable-preflight.yml unused
  .github/workflows/ci-commit-lint.yml
Due: none

docs: document never-swallow-exceptions principle in coding standards
  AGENTS.md
Due: none

fix(ci): fix model provider id, wire up NVIDIA/Gemini, add skills
  .github/workflows/opencode.yml
  .gitignore
  .opencode/skills/root-cause-debugging/SKILL.md
  .opencode/skills/verify-before-done/SKILL.md
Due: none

fix(ci): repair broken opencode.yml workflow
  .github/workflows/opencode.yml
Due: none

fix(ci): stop opencode workflow self-retriggering on its own comments
  .github/workflows/opencode.yml
  .opencode/skills/security-fix-guardrails/SKILL.md
Due: none

fix(ci): grant actions:write so opencode CLI cache can save
  .github/workflows/opencode.yml
Due: none

fix(security): remove committed Harbor DB password from ConfigMaps
  extensions/data-platform/datahub/ingestion/cronjob-postgres-ingestion.yaml
  platform/apps/postgresql/db-harbor-credentials.yaml
Due: none

docs(agents): tighten commit-format rule, add opencode skill
  .opencode/skills/commit-message-format/SKILL.md
  AGENTS.md
Due: none

fix(ci): raise opencode timeout, update actions, fix git identity
  .github/workflows/opencode.yml
Due: none

feat(ci): route [security]/[feature] tags to nvidia nemotron-3
  .github/workflows/opencode.yml
Due: none

fix(ci): swap paid nemotron-3-ultra for free nvidia qwen3 coder
  .github/workflows/opencode.yml
Due: none

fix(ci): install terraform/tflint, fix ask-permission hang
  .github/workflows/opencode.yml
  .gitignore
  .opencode/opencode.json
Due: none
