Repository paruff/fawkes: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubeval, kustomize-validate, backstage-catalog-validate, argocd-validate, helm-lint, check-k8s-secrets, mkdocs-validate

kubeval:
  name: Validate Kubernetes manifests (kubeconform/kubeval)
  ...

kustomize-validate:
  name: Validate Kustomize builds
  ...

backstage-catalog-validate:
  name: Validate Backstage catalog files
  entry: bash -c 'if command -v yq &> /dev/null; then find . -name "catalog-info.yaml" -o -name "*.catalog-info.yaml" | xargs -I {} bash -c "yq eval . {} > /dev/null && echo \"✓ {}\""; else echo "⚠️  yq not installed, skipping Backstage catalog validation"; fi'
  ...

argocd-validate:
  name: Validate ArgoCD applications
  ...

helm-lint:
  name: Lint Helm charts
  entry: bash -c 'if command -v helm &> /dev/null; then for chart in infra/kubernetes/*/Chart.yaml; do dir=$(dirname "$chart"); echo "Linting $dir" && helm lint "$dir"; done; else echo "⚠️  helm not installed, skipping chart linting"; fi'
  language: system
  pass_filenames: false

check-k8s-secrets:
  name: Check for hardcoded secrets in K8s manifests
  entry: bash -c 'grep -r "kind. Secret" infra/kubernetes/ --include="*.yaml" --include="*.yml" 2>/dev/null | grep -v "stringData. {}" | grep -v "# Example" | grep -v "# Template" && exit 1 || exit 0'
  language: system
  pass_filenames: false

mkdocs-validate:
  name: Validate MkDocs configuration
  entry: bash -c 'if command -v mkdocs &> /dev/null && [ -f mkdocs.yml ]; then mkdocs build --strict --verbose --site-dir /tmp/mkdocs-build-test && rm -rf /tmp/mkdocs-build-test; else echo "⚠️  mkdocs not installed or mkdocs.yml not found"; fi'
  language: system
  ...

test(dora): add deterministic BDD scenarios for Change Failure Rate calc
  tests/bdd/features/dora-change-failure-rate-calculation.feature
  tests/bdd/step_definitions/test_dora_change_failure_rate_calculation_steps.py
Due: none

test(dora): add deterministic BDD scenarios for Change Failure Rate calc (#2044)
  tests/bdd/features/dora-change-failure-rate-calculation.feature
  tests/bdd/step_definitions/test_dora_change_failure_rate_calculation_steps.py
Due: none

fix(argo-rollouts): correct tracer-bullet AnalysisTemplate's PromQL query
  platform/apps/tracer-bullet/tracer-bullet-analysis-template.yaml
Due: none

docs(deployment-strategy): update stale canary-deployments status line
  docs/DEPLOYMENT_STRATEGY.md
Due: mkdocs-validate

fix(argo-rollouts): correct tracer-bullet AnalysisTemplate's PromQL query (#2045)
  docs/DEPLOYMENT_STRATEGY.md
  platform/apps/tracer-bullet/tracer-bullet-analysis-template.yaml
Due: mkdocs-validate

feat(tekton): add OWASP ZAP baseline scan task for shift-left DAST
  platform/apps/tekton/dast-baseline-scan-task.yaml
  platform/apps/tekton/kustomization.yaml
Due: none

fix(argocd): wire argo-rollouts and chaos-mesh into the platform ApplicationSet
  platform/bootstrap/platform-applicationset.yaml
Due: none

feat(tekton): add OWASP ZAP baseline scan task for shift-left DAST (#2048)
  platform/apps/tekton/dast-baseline-scan-task.yaml
  platform/apps/tekton/kustomization.yaml
Due: none

fix(argocd): wire tekton-application.yaml into path-based-applications
  platform/bootstrap/path-based-applications.yaml
Due: none

fix(argocd): wire tekton-application.yaml into path-based-applications (#2051)
  platform/bootstrap/path-based-applications.yaml
Due: none

fix(argocd): wire argo-rollouts and chaos-mesh into the platform ApplicationSet (#2049)
  platform/bootstrap/platform-applicationset.yaml
Due: none

fix(ci): sanitize slash in image-name for reusable-sbom-generation.yml
  .github/workflows/reusable-sbom-generation.yml
Due: none

fix(ci): sanitize slash in image-name for reusable-sbom-generation.yml (#2056)
  .github/workflows/reusable-sbom-generation.yml
Due: none

docs(backlog): update Phase 1/2 status to reflect actual merged work
  docs/BACKLOG.md
Due: mkdocs-validate

docs: save Phase 2 closure and elite-engineering-bridge plans
  docs/elite-engineering-bridge-plan.md
  docs/phase-2-closure-plan.md
Due: mkdocs-validate

feat(verification-culture): wire golden-path scripts into automated verification
  .github/workflows/golden-path-verification.yml
  .github/workflows/phase-completion-verification-check.yml
  AGENTS.md
  docs/BACKLOG.md
  scripts/generate-platform-status.sh
Due: mkdocs-validate

docs(backlog): update Phase 1/2 status to reflect actual merged work (#2058)
  docs/BACKLOG.md
Due: mkdocs-validate

docs: save Phase 2 closure and elite-engineering-bridge plans (#2059)
  docs/elite-engineering-bridge-plan.md
  docs/phase-2-closure-plan.md
Due: mkdocs-validate

feat(verification-culture): wire golden-path scripts into automated verification (#2060)
  .github/workflows/golden-path-verification.yml
  .github/workflows/phase-completion-verification-check.yml
  AGENTS.md
  docs/BACKLOG.md
  scripts/generate-platform-status.sh
Due: mkdocs-validate

fix(tekton): use computeResources, not resources, for Task step limits
  platform/apps/tekton/dast-baseline-scan-task.yaml
  platform/apps/tekton/pr-preview-environment-task.yaml
Due: none

fix(tekton): use computeResources, not resources, for Task step limits (#2062)
  platform/apps/tekton/dast-baseline-scan-task.yaml
  platform/apps/tekton/pr-preview-environment-task.yaml
Due: none

fix(argocd): wire python-fawkes-path AnalysisTemplate into a live Application
  platform/apps/python-fawkes-path/kustomization.yaml
  platform/apps/python-fawkes-path/python-fawkes-path-analysis-template-application.yaml
  platform/bootstrap/path-based-applications.yaml
Due: argocd-validate

fix(argocd): wire python-fawkes-path AnalysisTemplate into a live Application (#2064)
  platform/apps/python-fawkes-path/kustomization.yaml
  platform/apps/python-fawkes-path/python-fawkes-path-analysis-template-application.yaml
  platform/bootstrap/path-based-applications.yaml
Due: argocd-validate

fix(rollouts): correct AnalysisTemplate's Prometheus service address
  platform/apps/python-fawkes-path/python-fawkes-path-analysis-template.yaml
Due: none

fix(rollouts): correct AnalysisTemplate's Prometheus service address (#2066)
  platform/apps/python-fawkes-path/python-fawkes-path-analysis-template.yaml
Due: none

fix(prometheus): also disable operator's own TLS to unblock stuck pod
  platform/apps/prometheus/prometheus-application.yaml
Due: argocd-validate

fix(prometheus): also disable operator's own TLS to unblock stuck pod (#2068)
  platform/apps/prometheus/prometheus-application.yaml
Due: argocd-validate

docs(architecture): document canonical cluster topology decision
  docs/ARCHITECTURE.md
Due: mkdocs-validate

fix(prometheus): lower server CPU/memory request to fit node capacity
  platform/apps/prometheus/prometheus-application.yaml
Due: argocd-validate

docs(architecture): document canonical cluster topology decision (#2070)
  docs/ARCHITECTURE.md
Due: mkdocs-validate

fix(prometheus): lower server CPU/memory request to fit node capacity (#2071)
  platform/apps/prometheus/prometheus-application.yaml
Due: argocd-validate

fix(azure): add untainted user node pool so ArgoCD can schedule on AKS
  infra/terraform/argocd/values.yaml
  infra/terraform/examples/azure-complete-new/main.tf
  infra/terraform/examples/azure-complete-new/variables.tf
  infra/terraform/modules/azure/kubernetes-cluster/README.md
  infra/terraform/modules/azure/kubernetes-cluster/main.tf
  infra/terraform/modules/azure/kubernetes-cluster/variables.tf
Due: none

docs(process): add Phase 4 phase-gate rule and epic complexity-table requirement
  .github/ISSUE_TEMPLATE/epic.md
  AGENTS.md
Due: none

chore: platform status 2026-09-12T20:02:11Z [skip ci]
  docs/PLATFORM_STATUS.md
  reports/golden-path-devex-validation-20260912-200156.json
  reports/golden-path-dora-validation-20260912-200200.json
  reports/golden-path-gitops-validation-20260912-200200.json
  reports/golden-path-pipeline-validation-20260912-200209.json
  reports/golden-path-progressive-delivery-validation-20260912-200209.json
  reports/golden-path-resources-validation-20260912-200209.json
  reports/golden-path-security-validation-20260912-200209.json
Due: mkdocs-validate

docs(backlog): remove 15 stale closed-issue entries, flag verification gap
  docs/BACKLOG.md
Due: mkdocs-validate

docs(process): add Phase 4 phase-gate rule and epic complexity-table requirement (#2074)
  .github/ISSUE_TEMPLATE/epic.md
  AGENTS.md
Due: none

docs(backlog): remove 15 stale closed-issue entries, flag verification gap (#2075)
  docs/BACKLOG.md
Due: mkdocs-validate

docs(phase3): resolve devlake-lake blocker, document bootstrap gap
  docs/KNOWN_LIMITATIONS.md
  docs/phase-2-closure-plan.md
  platform/bootstrap/README.md
Due: mkdocs-validate

Path conditions:
  kubeval: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  kustomize-validate: any of: ^infra/kubernetes/.*kustomization\.yaml$
  backstage-catalog-validate: any of: (catalog-info|\.catalog-info)\.yaml$
  argocd-validate: any of: .*application\.yaml$
  helm-lint: any of: ^infra/kubernetes/.*/Chart\.yaml$
  check-k8s-secrets: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  mkdocs-validate: any of: ^(mkdocs\.yml|docs/.*\.md)$
