Repository paruff/fawkes: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubeval, kustomize-validate, backstage-catalog-validate, argocd-validate, helm-lint, check-k8s-secrets, mkdocs-validate

Path conditions:
  kubeval: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  kustomize-validate: any of: ^infra/kubernetes/.*kustomization\.yaml$
  backstage-catalog-validate: any of: (catalog-info|\.catalog-info)\.yaml$
  argocd-validate: any of: .*application\.yaml$
  helm-lint: any of: ^infra/kubernetes/.*/Chart\.yaml$
  check-k8s-secrets: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  mkdocs-validate: any of: ^(mkdocs\.yml|docs/.*\.md)$

feat(observability): consolidate onto prometheus-stack's Grafana
  platform/apps/devlake/devlake-application.yaml
  platform/apps/prometheus/prometheus-application.yaml
Due: argocd-validate

feat(tekton): switch golden-path pipeline quality gate to SonarCloud
  platform/apps/tekton/golden-path-pipeline.yaml
Due: none

feat(observability): consolidate onto prometheus-stack's Grafana (#1895)
  platform/apps/devlake/devlake-application.yaml
  platform/apps/prometheus/prometheus-application.yaml
Due: argocd-validate

feat(tekton): switch golden-path pipeline quality gate to SonarCloud (#1896)
  platform/apps/tekton/golden-path-pipeline.yaml
Due: none

fix(loki): define storage.filesystem so the chart actually renders
  platform/apps/loki/loki-application.yaml
Due: argocd-validate

fix(loki): define storage.filesystem so the chart actually renders (#1898)
  platform/apps/loki/loki-application.yaml
Due: argocd-validate

fix(otel-collector): disable deprecated component name rewriting
  platform/apps/opentelemetry/otel-collector-application.yaml
Due: argocd-validate

fix(otel-collector): disable deprecated component name rewriting (#1900)
  platform/apps/opentelemetry/otel-collector-application.yaml
Due: argocd-validate

fix(tekton): correct default SonarCloud organization key
  platform/apps/tekton/golden-path-pipeline.yaml
Due: none

fix(tekton): correct default SonarCloud organization key (#1902)
  platform/apps/tekton/golden-path-pipeline.yaml
Due: none

feat(tekton): don't block golden-path pipeline on SonarCloud gate result
  platform/apps/tekton/golden-path-pipeline.yaml
Due: none

fix(otel-collector): enable Service creation for daemonset mode
  platform/apps/opentelemetry/otel-collector-application.yaml
Due: argocd-validate

feat(tekton): don't block golden-path pipeline on SonarCloud gate result (#1904)
  platform/apps/tekton/golden-path-pipeline.yaml
Due: none

fix(otel-collector): enable Service creation for daemonset mode (#1905)
  platform/apps/opentelemetry/otel-collector-application.yaml
Due: argocd-validate

fix(tekton): don't block golden-path pipeline on unfixable CVEs
  platform/apps/tekton/golden-path-pipeline.yaml
Due: none

fix(tekton): don't block golden-path pipeline on unfixable CVEs (#1907)
  platform/apps/tekton/golden-path-pipeline.yaml
Due: none

feat(argocd): complete live cutover to platform-applicationset
  platform/bootstrap/kustomization.yaml
Due: none

docs: reflect tracer-bullet's extraction to external golden-path repos
  docs/DEPLOYMENT_STRATEGY.md
  docs/golden-path-verification-planes.md
Due: mkdocs-validate

docs: record DevLake GraphQL and SonarCloud branch limitations
  docs/KNOWN_LIMITATIONS.md
Due: mkdocs-validate

feat(argocd): complete live cutover to platform-applicationset (#1910)
  platform/bootstrap/kustomization.yaml
Due: none

docs: reflect tracer-bullet's extraction to external golden-path repos (#1911)
  docs/DEPLOYMENT_STRATEGY.md
  docs/KNOWN_LIMITATIONS.md
  docs/golden-path-verification-planes.md
Due: mkdocs-validate

fix(golden-path): repair acceptance-test scripts and add weekly CI run
  .github/workflows/golden-path-acceptance-tests.yml
  scripts/validate-golden-path-dora.sh
  scripts/validate-golden-path-gitops.sh
  scripts/validate-golden-path-pipeline.sh
Due: none

docs: record newly-found tracer-bullet Prometheus metrics gap (KL-11)
  docs/KNOWN_LIMITATIONS.md
Due: mkdocs-validate

fix(golden-path): repair acceptance-test scripts and add weekly CI run (#1913)
  .github/workflows/golden-path-acceptance-tests.yml
  scripts/validate-golden-path-dora.sh
  scripts/validate-golden-path-gitops.sh
  scripts/validate-golden-path-pipeline.sh
Due: none

docs: resolve KL-09 (real root cause found), add KL-11/KL-12
  docs/KNOWN_LIMITATIONS.md
Due: mkdocs-validate

docs: mark KL-11 resolved - ServiceMonitor fix merged and verified live
  docs/KNOWN_LIMITATIONS.md
Due: mkdocs-validate

docs: resolve KL-09, add and resolve KL-11, add KL-12 (#1915)
  docs/KNOWN_LIMITATIONS.md
Due: mkdocs-validate

feat(golden-path): record GitHub Deployment for DORA tracking (KL-12)
  platform/apps/tekton/golden-path-pipeline.yaml
Due: none

docs: refine KL-12 with the precise cicd_tasks vs cicd_deployments finding
  docs/KNOWN_LIMITATIONS.md
Due: mkdocs-validate

feat(golden-path): record GitHub Deployment for DORA tracking (KL-12) (#1917)
  docs/KNOWN_LIMITATIONS.md
  platform/apps/tekton/golden-path-pipeline.yaml
Due: mkdocs-validate

chore(devlake): upgrade to 1.0.3-beta15 (latest available)
  platform/apps/devlake/devlake-application.yaml
Due: argocd-validate

chore(devlake): upgrade to 1.0.3-beta15 (latest available) (#1920)
  platform/apps/devlake/devlake-application.yaml
Due: argocd-validate

chore(opencode): bump action pin to v1.18.30
  .github/workflows/opencode.yml
Due: none

chore(opencode): bump action pin to v1.18.30 (#1951)
  .github/workflows/opencode.yml
Due: none

fix(opencode): remove deepseek-v4-flash-free, switch default to mimo-v2.5-free
  .github/agents/AGENTS.md
  .github/workflows/opencode.yml
  docs/PROJECT_STATUS.md
Due: mkdocs-validate

fix(opencode): remove deepseek-v4-flash-free, switch default to mimo-v2.5-free (#1956)
  .github/agents/AGENTS.md
  .github/workflows/opencode.yml
  docs/PROJECT_STATUS.md
Due: mkdocs-validate

fix(opencode): switch strong model to free opencode/nemotron-3-ultra-free
  .github/workflows/opencode.yml
Due: none

fix(opencode): switch strong model to free opencode/nemotron-3-ultra-free (#1961)
  .github/workflows/opencode.yml
Due: none

fix(azure): add missing service_endpoint for storage account network ACL
  infra/azure/main.tf
Due: none

fix(azure): add missing service_endpoint for storage account network ACL (#1970)
  infra/azure/main.tf
Due: none
