Repository paruff/fawkes: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubeval, kustomize-validate, backstage-catalog-validate, argocd-validate, helm-lint, check-k8s-secrets, mkdocs-validate

kubeval:
  name: Validate Kubernetes manifests (kubeconform/kubeval)
  ...

kustomize-validate:
  name: Validate Kustomize builds
  ...

backstage-catalog-validate:
  name: Validate Backstage catalog files
  entry: bash -c 'if command -v yq &> /dev/null; then find . -name "catalog-info.yaml" -o -name "*.catalog-info.yaml" | xargs -I {} bash -c "yq eval . {} > /dev/null && echo \"✓ {}\""; else echo "⚠️  yq not installed, skipping Backstage catalog validation"; fi'
  ...

argocd-validate:
  name: Validate ArgoCD applications
  ...

helm-lint:
  name: Lint Helm charts
  entry: bash -c 'if command -v helm &> /dev/null; then for chart in infra/kubernetes/*/Chart.yaml; do dir=$(dirname "$chart"); echo "Linting $dir" && helm lint "$dir"; done; else echo "⚠️  helm not installed, skipping chart linting"; fi'
  language: system
  pass_filenames: false

check-k8s-secrets:
  name: Check for hardcoded secrets in K8s manifests
  entry: bash -c 'grep -r "kind. Secret" infra/kubernetes/ --include="*.yaml" --include="*.yml" 2>/dev/null | grep -v "stringData. {}" | grep -v "# Example" | grep -v "# Template" && exit 1 || exit 0'
  language: system
  pass_filenames: false

mkdocs-validate:
  name: Validate MkDocs configuration
  entry: bash -c 'if command -v mkdocs &> /dev/null && [ -f mkdocs.yml ]; then mkdocs build --strict --verbose --site-dir /tmp/mkdocs-build-test && rm -rf /tmp/mkdocs-build-test; else echo "⚠️  mkdocs not installed or mkdocs.yml not found"; fi'
  language: system
  ...

addressing secrets leaks
  .gitleaks.toml
  docs/dojo/modules/white-belt/module-03-gitops-principles.md
  infra/kubernetes/jenkins/jenkins-admin-secret.yaml
  scripts/brew-install.sh
Due: kubeval, check-k8s-secrets, mkdocs-validate

Add External Secrets Operator configuration for AWS and Azure secret management
  infra/kubernetes/external-secrets/clustersecretstore-aws.yaml
  infra/kubernetes/external-secrets/clustersecretstore-azure.yaml
  infra/kubernetes/external-secrets/external-secrets-operator-application.yaml
  infra/kubernetes/external-secrets/externalsecret-jenkins-admin.yaml
  infra/kubernetes/external-secrets/kustomization.yaml
  infra/kubernetes/readme.md
Due: kubeval, kustomize-validate, argocd-validate, check-k8s-secrets

changed from strict mkdocs
  .github/workflows/pre-commit.yml
Due: none

fixed validation gitleak step updated security and terraform
  .github/workflows/security-and-terraform.yml
  .gitleaks.toml
Due: none

Refactor Kubernetes application namespaces to use 'fawkes' and update service types for local development access
  infra/kubernetes/apps/grafana/helm-release.yml
  infra/kubernetes/external-secrets/external-secrets-operator-application.yaml
  infra/kubernetes/jenkins-application.yaml
  infra/kubernetes/sonarqube-application.yaml
  infra/terraform/argocd/.terraform.lock.hcl
  infra/terraform/argocd/main.tf
  infra/terraform/argocd/outputs.tf
  infra/terraform/argocd/values.yaml
  infra/terraform/argocd/variables.tf
  scripts/ignite.sh
  scripts/tools.sh
Due: kubeval, argocd-validate, check-k8s-secrets

moving toward fawkes namespace and ingress as the access method
  .kube.local.yaml
  infra/kubernetes/apps/grafana/helm-release.yml
  infra/kubernetes/apps/ingress-nginx/helm-release.yml
  infra/kubernetes/jenkins-application.yaml
  infra/kubernetes/sonarqube-application.yaml
  infra/terraform/argocd/main.tf
  infra/terraform/argocd/values.yaml
  scripts/ignite.sh
Due: kubeval, argocd-validate, check-k8s-secrets

Update Argo CD installation configuration to avoid CRD ownership conflicts
  infra/terraform/argocd/main.tf
  infra/terraform/argocd/values.yaml
  scripts/ignite.sh
Due: none

feat: Add Jenkins configuration with JCasC and admin credentials
  .ignite-state.json
  infra/kubernetes/brew-versions.txt
  platform/apps/backstage/values.yaml
  platform/apps/dashboard/dashboard-adminuser.yaml
  platform/apps/dashboard/dashboard-readme.md
  platform/apps/devlake/values.yaml
  platform/apps/external-secrets/clustersecretstore-aws.yaml
  platform/apps/external-secrets/clustersecretstore-azure.yaml
  platform/apps/external-secrets/external-secrets-operator-application.yaml
  platform/apps/external-secrets/externalsecret-jenkins-admin.yaml
  platform/apps/external-secrets/kustomization.yaml
  platform/apps/grafana/helm-release.yml
  platform/apps/ingress-nginx/helm-release.yml
  platform/apps/jenkins-application.yaml
  platform/apps/jenkins/README.md
  platform/apps/jenkins/jcasc.yaml
  platform/apps/jenkins/jenkins-admin-secret.yaml
  platform/apps/jenkins/jenkins-casc-configmap.yaml
  platform/apps/jenkins/secrets.yaml
  platform/apps/jenkins/values.yaml
  platform/apps/namespaces.yaml
  platform/apps/opensearch/index-template.yaml
  platform/apps/opensearch/opensearch-dashboard-values-mvp.yaml
  platform/apps/opensearch/opensearch-values-mvp.yaml
  platform/apps/opentelemetry/values.yaml
  platform/apps/prometheus/additional-scrape-configs.yaml
  platform/apps/prometheus/alerting-rules-mvp.yaml
  platform/apps/prometheus/prometheus-notes.md
  platform/apps/prometheus/values-mvp.yaml
  platform/apps/prometheus/values.yaml
  platform/apps/sonarqube-application.yaml
  platform/apps/sonarqube/sonarqube-notes.md
  platform/apps/sonarqube/sonarqube-reinstall.sh
  platform/apps/sonarqube/sonarqube-values.yaml
  scripts/ignite.sh
Due: argocd-validate

feat: Update Argo CD configuration and bootstrap resources for improved management
  .ignite-state.json
  infra/terraform/argocd/main.tf
  infra/terraform/argocd/values.yaml
  platform/bootstrap/kustomization.yaml
  platform/bootstrap/project-default.yaml
  platform/bootstrap/root-apps.yaml
  scripts/ignite.sh
Due: none

working to get jenkins ingress to work.
  .ignite-state.json
  platform/apps/jenkins-application.yaml
Due: argocd-validate

added argocd test not working yet, upgrading sonarqube to latest LTA version
  platform/apps/sonarqube-application.yaml
  tests/bdd/conftest.py
  tests/bdd/features/argocd_bootstrap.feature
  tests/bdd/pytest.ini
  tests/bdd/step_definitions/argocd_steps.py
  tests/bdd/test_argocd_bootstrap.py
Due: argocd-validate

MCP inspector: read-only in-cluster service + RBAC (Option B)
  infra/kubernetes/apps/mcp-k8s-server/deployment.yaml
  infra/kubernetes/apps/mcp-k8s-server/kustomization.yaml
  infra/kubernetes/apps/mcp-k8s-server/rbac.yaml
  infra/kubernetes/apps/mcp-k8s-server/service.yaml
  infra/kubernetes/kustomization.yaml
  infra/mcp-k8s-server/Dockerfile
  infra/mcp-k8s-server/mcp_k8s_server.py
  infra/mcp-k8s-server/requirements.txt
Due: kubeval, kustomize-validate, check-k8s-secrets

feat: Remove deprecated build scripts and update usage instructions
  scripts/buildinfra.sh
  scripts/buildplatform.sh
Due: none

feat: Replace deprecated build scripts with unified ignite.sh for infrastructure provisioning and platform deployment
  README.md
  docs/copilot/jenkins-pipelines.md
  docs/development.md
  docs/usage.md
  infra/readme.md
  platform/apps/jenkins/README.md
  scripts/buildinfra.sh
  scripts/buildplatform.sh
  tests/bdd/features/infrastructure_provisioning.feature
Due: mkdocs-validate

feat: Enhance Argo CD bootstrap test setup with improved plugin registration and error handling
  tests/bdd/conftest.py
  tests/bdd/step_definitions/argocd_steps.py
  tests/bdd/test_argocd_bootstrap.py
Due: none

feat: Update mcp-k8s-server deployment to set replicas to 0
  infra/kubernetes/apps/mcp-k8s-server/deployment.yaml
Due: kubeval, check-k8s-secrets

feat: Add MCP K8s Server with FastAPI for pod inspection and health check endpoints
  services/mcp-k8s-server/Dockerfile
  services/mcp-k8s-server/README.md
  services/mcp-k8s-server/app/main.py
  services/mcp-k8s-server/requirements.txt
Due: none

inspector: add service + publish v0.1.0; infra: use v0.1.0 and enable replicas
  infra/kubernetes/apps/mcp-k8s-server/deployment.yaml
Due: kubeval, check-k8s-secrets

infra: add probes + securityContext to inspector; ci: multi-arch GHCR build on tag
  .github/workflows/build-mcp-k8s-server.yml
  infra/kubernetes/apps/mcp-k8s-server/deployment.yaml
Due: kubeval, check-k8s-secrets

infra: add LimitRange/ResourceQuota; pin inspector image digest; add NetworkPolicy
  infra/kubernetes/apps/mcp-k8s-server/deployment.yaml
  infra/kubernetes/apps/mcp-k8s-server/kustomization.yaml
  infra/kubernetes/apps/mcp-k8s-server/networkpolicy.yaml
  infra/kubernetes/namespace-policies.yaml
Due: kubeval, kustomize-validate, check-k8s-secrets

ci: harden idp e2e workflow smoke tests (resilient)
  .github/workflows/idp-e2e-tests.yml
  tests/bdd/test_smoke.py
Due: none

ci: add bootstrap step + expanded smoke tests
  .github/workflows/idp-e2e-tests.yml
  tests/bdd/test_smoke.py
Due: none

fix: correct indentation in test_cluster_has_nodes for Ready condition assertion
  tests/bdd/test_smoke.py
Due: none

Add ADR-009 for External Secrets Management
  docs/adr/ADR-009 secrets managment.md
Due: mkdocs-validate

Add ADR-010 for NGINX Ingress Controller decision
  docs/adr/ADR-010: Ingress Controller for Service Access.md
Due: mkdocs-validate

Revise ADR-009 for improved secrets management clarity
  docs/adr/ADR-009 secrets managment.md
Due: mkdocs-validate

Create ADR-011 .md
  docs/adr/ADR-011 .md
Due: mkdocs-validate

Add ADR-011 for Centralized Log Management
  docs/adr/ADR-011 .md
Due: mkdocs-validate

Rename ADR-011 .md to ADR-011 Centralized Log Management.md
  docs/adr/ADR-011 Centralized Log Management.md
Due: mkdocs-validate

Add ADR-012 for Metrics Monitoring and Management
  docs/adr/ADR-012 Metrics Monitoring and Management.md
Due: mkdocs-validate

Add ADR-013 for Distributed Tracing Implementation
  docs/adr/ADR-013 distributed tracing.md
Due: mkdocs-validate

added more content about 100 lines, mostly complete
  docs/adr/ADR-013 distributed tracing.md
Due: mkdocs-validate

Enhance distributed tracing documentation
  docs/adr/ADR-013 distributed tracing.md
Due: mkdocs-validate

Sanitize DevLake configs: externalize credentials via Vault/ESO and remove inline secrets
  platform/apps/devlake/devlake-application.yaml
Due: argocd-validate

Add ESO: devlake-db credentials from Vault
  platform/apps/external-secrets/devlake/externalsecret-devlake-db.yaml
Due: none

Add remaining DevLake ESO secrets and sanitize env.example placeholders
  platform/apps/external-secrets/devlake/externalsecret-devlake-github.yaml
Due: none

Delete service
  service
Due: none

Document operational runbooks and maintenance tasks
  docs/adr/ADR-029.md
Due: mkdocs-validate

Create ADR-027 for Value Stream Management Integration
  docs/adr/adr-027 Value Stream Management Integration.md
Due: mkdocs-validate

Add ADR-025 for Developer Experience Metrics Dashboard
  docs/adr/ADR-025 Developer Experience Metrics Collection & Dashboarding.md
Due: mkdocs-validate

Path conditions:
  kubeval: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  kustomize-validate: any of: ^infra/kubernetes/.*kustomization\.yaml$
  backstage-catalog-validate: any of: (catalog-info|\.catalog-info)\.yaml$
  argocd-validate: any of: .*application\.yaml$
  helm-lint: any of: ^infra/kubernetes/.*/Chart\.yaml$
  check-k8s-secrets: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  mkdocs-validate: any of: ^(mkdocs\.yml|docs/.*\.md)$
