Repository paruff/fawkes: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubeval, kustomize-validate, backstage-catalog-validate, argocd-validate, helm-lint, check-k8s-secrets, mkdocs-validate

kubeval:
  name: Validate Kubernetes manifests (kubeconform/kubeval)
  ...

kustomize-validate:
  name: Validate Kustomize builds
  ...

backstage-catalog-validate:
  name: Validate Backstage catalog files
  entry: bash -c 'if command -v yq &> /dev/null; then find . -name "catalog-info.yaml" -o -name "*.catalog-info.yaml" | xargs -I {} bash -c "yq eval . {} > /dev/null && echo \"✓ {}\""; else echo "⚠️  yq not installed, skipping Backstage catalog validation"; fi'
  ...

argocd-validate:
  name: Validate ArgoCD applications
  ...

helm-lint:
  name: Lint Helm charts
  entry: bash -c 'if command -v helm &> /dev/null; then for chart in infra/kubernetes/*/Chart.yaml; do dir=$(dirname "$chart"); echo "Linting $dir" && helm lint "$dir"; done; else echo "⚠️  helm not installed, skipping chart linting"; fi'
  language: system
  pass_filenames: false

check-k8s-secrets:
  name: Check for hardcoded secrets in K8s manifests
  entry: bash -c 'grep -r "kind. Secret" infra/kubernetes/ --include="*.yaml" --include="*.yml" 2>/dev/null | grep -v "stringData. {}" | grep -v "# Example" | grep -v "# Template" && exit 1 || exit 0'
  language: system
  pass_filenames: false

mkdocs-validate:
  name: Validate MkDocs configuration
  entry: bash -c 'if command -v mkdocs &> /dev/null && [ -f mkdocs.yml ]; then mkdocs build --strict --verbose --site-dir /tmp/mkdocs-build-test && rm -rf /tmp/mkdocs-build-test; else echo "⚠️  mkdocs not installed or mkdocs.yml not found"; fi'
  language: system
  ...

docs: refresh BACKLOG and DEPLOYMENT_STRATEGY with Phase 3 fixes
  docs/BACKLOG.md
  docs/DEPLOYMENT_STRATEGY.md
Due: mkdocs-validate

chore(golden-path): bump tracer-bullet and smart-alerting versions (#1798)
  services/smart-alerting/app/__init__.py
  services/tracer-bullet/app/__init__.py
  services/tracer-bullet/tests/unit/test_main.py
Due: none

docs: refresh BACKLOG and DEPLOYMENT_STRATEGY with Phase 3 fixes (#1799)
  docs/BACKLOG.md
  docs/DEPLOYMENT_STRATEGY.md
Due: mkdocs-validate

fix(ci): route GitOps updates through PRs; patch smart-alerting CVEs
  .github/workflows/dora-metrics-ci.yml
  .github/workflows/reusable-python-service-golden-path.yml
  .github/workflows/smart-alerting-ci.yml
  .github/workflows/tracer-bullet-ci.yml
  services/smart-alerting/Dockerfile
  services/smart-alerting/requirements-dev.txt
  services/smart-alerting/requirements.txt
Due: none

fix(ci): route GitOps updates through PRs; patch smart-alerting CVEs (#1801)
  .github/workflows/dora-metrics-ci.yml
  .github/workflows/reusable-python-service-golden-path.yml
  .github/workflows/smart-alerting-ci.yml
  .github/workflows/tracer-bullet-ci.yml
  services/smart-alerting/Dockerfile
  services/smart-alerting/requirements-dev.txt
  services/smart-alerting/requirements.txt
Due: none

chore(tracer-bullet): bump version to trigger GitOps-PR flow verification
  services/tracer-bullet/app/__init__.py
  services/tracer-bullet/tests/unit/test_main.py
Due: none

feat(tekton): propose deploying Tekton Pipelines + Triggers (#1659)
  platform/apps/tekton/kustomization.yaml
  platform/apps/tekton/tekton-application.yaml
Due: argocd-validate

fix(tekton): vendor upstream/ as excluded from license/lint/size gates
  .pre-commit-config.yaml
  .yamllint
  platform/apps/tekton/kustomization.yaml
  platform/apps/tekton/upstream/pipeline-v1.15.1.yaml
  platform/apps/tekton/upstream/triggers-interceptors-v0.37.0.yaml
  platform/apps/tekton/upstream/triggers-v0.37.0.yaml
Due: none

fix(security): exclude vendored upstream/ from Trivy misconfig scan
  .github/workflows/security-and-terraform.yml
Due: none

feat(tekton): propose deploying Tekton Pipelines + Triggers (#1659) (#1809)
  .github/workflows/security-and-terraform.yml
  .pre-commit-config.yaml
  .yamllint
  platform/apps/tekton/kustomization.yaml
  platform/apps/tekton/tekton-application.yaml
  platform/apps/tekton/upstream/pipeline-v1.15.1.yaml
  platform/apps/tekton/upstream/triggers-interceptors-v0.37.0.yaml
  platform/apps/tekton/upstream/triggers-v0.37.0.yaml
Due: argocd-validate

fix(gitops): exclude tekton from ApplicationSet auto-discovery
  platform/bootstrap/applicationset.yaml
Due: none

fix(tekton): move core controllers into the fawkes namespace
  platform/apps/tekton/kustomization.yaml
  platform/apps/tekton/tekton-application.yaml
Due: argocd-validate

fix(tekton): exclude from ApplicationSet collision, move core to fawkes namespace (#1811)
  platform/apps/tekton/kustomization.yaml
  platform/apps/tekton/tekton-application.yaml
  platform/bootstrap/applicationset.yaml
Due: argocd-validate

chore(tracer-bullet): remove monorepo copy, superseded by paruff/tracer-bullet
  .github/workflows/tracer-bullet-ci.yml
  platform/apps/tracer-bullet/deployment.yaml
  platform/apps/tracer-bullet/ingress.yaml
  platform/apps/tracer-bullet/kustomization.yaml
  platform/apps/tracer-bullet/service.yaml
  platform/apps/tracer-bullet/serviceaccount.yaml
  platform/apps/tracer-bullet/tracer-bullet-application.yaml
  services/tracer-bullet/Dockerfile
  services/tracer-bullet/app/__init__.py
  services/tracer-bullet/app/main.py
  services/tracer-bullet/catalog-info.yaml
  services/tracer-bullet/pytest.ini
  services/tracer-bullet/requirements-dev.txt
  services/tracer-bullet/requirements.txt
  services/tracer-bullet/tests/__init__.py
  services/tracer-bullet/tests/bdd/features/observability.feature
  services/tracer-bullet/tests/bdd/steps/observability_steps.py
  services/tracer-bullet/tests/unit/__init__.py
  services/tracer-bullet/tests/unit/test_main.py
Due: backstage-catalog-validate, argocd-validate

chore(tracer-bullet): remove now-unneeded ApplicationSet exclude entry
  platform/bootstrap/applicationset.yaml
Due: none

fix(gitops): exclude devlake from ApplicationSet auto-discovery
  platform/bootstrap/applicationset.yaml
Due: none

fix(sonarqube): unblock deploy - dev-mode secrets, required chart fields
  platform/apps/postgresql/db-sonarqube-credentials.yaml
  platform/apps/sonarqube-application.yaml
Due: argocd-validate

chore(tracer-bullet): remove monorepo copy, superseded by paruff/tracer-bullet (#1813)
  .github/workflows/tracer-bullet-ci.yml
  platform/apps/tracer-bullet/deployment.yaml
  platform/apps/tracer-bullet/ingress.yaml
  platform/apps/tracer-bullet/kustomization.yaml
  platform/apps/tracer-bullet/service.yaml
  platform/apps/tracer-bullet/serviceaccount.yaml
  platform/apps/tracer-bullet/tracer-bullet-application.yaml
  platform/bootstrap/applicationset.yaml
  services/tracer-bullet/Dockerfile
  services/tracer-bullet/app/__init__.py
  services/tracer-bullet/app/main.py
  services/tracer-bullet/catalog-info.yaml
  services/tracer-bullet/pytest.ini
  services/tracer-bullet/requirements-dev.txt
  services/tracer-bullet/requirements.txt
  services/tracer-bullet/tests/__init__.py
  services/tracer-bullet/tests/bdd/features/observability.feature
  services/tracer-bullet/tests/bdd/steps/observability_steps.py
  services/tracer-bullet/tests/unit/__init__.py
  services/tracer-bullet/tests/unit/test_main.py
Due: backstage-catalog-validate, argocd-validate

fix(gitops): exclude devlake from ApplicationSet auto-discovery (#1814)
  platform/bootstrap/applicationset.yaml
Due: none

chore(dora-metrics): remove, replaced by DevLake
  .github/workflows/dora-metrics-ci.yml
  platform/apps/dora-metrics-application.yaml
  platform/apps/dora-metrics/deployment.yaml
  platform/apps/dora-metrics/kustomization.yaml
  platform/apps/dora-metrics/secrets.yaml
  platform/apps/dora-metrics/service.yaml
  platform/bootstrap/applicationset.yaml
  services/dora-metrics/Dockerfile
  services/dora-metrics/app/main.py
  services/dora-metrics/catalog-info.yaml
  services/dora-metrics/pytest.ini
  services/dora-metrics/requirements-dev.txt
  services/dora-metrics/requirements.txt
  services/dora-metrics/tests/__init__.py
  services/dora-metrics/tests/test_main.py
Due: backstage-catalog-validate, argocd-validate

fix(gitops): make ApplicationSet exclude list exhaustive (29 collisions found)
  platform/bootstrap/applicationset.yaml
Due: none

fix(sonarqube): unblock deploy - dev-mode secrets, required chart fields (#1816)
  platform/apps/postgresql/db-sonarqube-credentials.yaml
  platform/apps/sonarqube-application.yaml
Due: argocd-validate

chore(dora-metrics): remove, replaced by DevLake (#1817)
  .github/workflows/dora-metrics-ci.yml
  platform/apps/dora-metrics-application.yaml
  platform/apps/dora-metrics/deployment.yaml
  platform/apps/dora-metrics/kustomization.yaml
  platform/apps/dora-metrics/secrets.yaml
  platform/apps/dora-metrics/service.yaml
  platform/bootstrap/applicationset.yaml
  services/dora-metrics/Dockerfile
  services/dora-metrics/app/main.py
  services/dora-metrics/catalog-info.yaml
  services/dora-metrics/pytest.ini
  services/dora-metrics/requirements-dev.txt
  services/dora-metrics/requirements.txt
  services/dora-metrics/tests/__init__.py
  services/dora-metrics/tests/test_main.py
Due: backstage-catalog-validate, argocd-validate

chore(jenkins): remove - Tekton is the sole CI engine going forward
  jenkins-shared-library/README.md
  jenkins-shared-library/examples/Jenkinsfile.go
  jenkins-shared-library/examples/Jenkinsfile.java
  jenkins-shared-library/examples/Jenkinsfile.minimal
  jenkins-shared-library/examples/Jenkinsfile.node
  jenkins-shared-library/examples/Jenkinsfile.python
  jenkins-shared-library/examples/Jenkinsfile.sample
  jenkins-shared-library/resources/pod-templates/go-agent.yaml
  jenkins-shared-library/resources/pod-templates/maven-agent.yaml
  jenkins-shared-library/resources/pod-templates/node-agent.yaml
  jenkins-shared-library/resources/pod-templates/python-agent.yaml
  jenkins-shared-library/vars/accessibilityTest.groovy
  jenkins-shared-library/vars/deployToArgoCD.groovy
  jenkins-shared-library/vars/dockerBuild.groovy
  jenkins-shared-library/vars/doraMetrics.groovy
  jenkins-shared-library/vars/goldenPathPipeline.groovy
  jenkins-shared-library/vars/prValidationPipeline.groovy
  jenkins-shared-library/vars/securityScan.groovy
  jenkins-shared-library/vars/vaultSecrets.groovy
  platform/apps/jenkins-application.yaml
  platform/apps/jenkins/README.md
  platform/apps/jenkins/credentials-secrets.yaml
  platform/apps/jenkins/jcasc.yaml
  platform/apps/jenkins/jenkins-admin-secret.yaml
  platform/apps/jenkins/jenkins-casc-configmap.yaml
  platform/apps/jenkins/secrets.yaml
  platform/apps/jenkins/secrets/.gitignore
  platform/apps/jenkins/secrets/jenkins-admin-credentials-sealed.yaml
  platform/apps/jenkins/secrets/jenkins-credentials-sealed.yaml
  platform/apps/jenkins/secrets/kustomization.yaml
  platform/apps/jenkins/values.yaml
Due: argocd-validate

fix(gitops): make ApplicationSet exclude list exhaustive (29 collisions found) (#1818)
  platform/bootstrap/applicationset.yaml
Due: none

chore(jenkins): remove - Tekton is the sole CI engine going forward (#1819)
  jenkins-shared-library/README.md
  jenkins-shared-library/examples/Jenkinsfile.go
  jenkins-shared-library/examples/Jenkinsfile.java
  jenkins-shared-library/examples/Jenkinsfile.minimal
  jenkins-shared-library/examples/Jenkinsfile.node
  jenkins-shared-library/examples/Jenkinsfile.python
  jenkins-shared-library/examples/Jenkinsfile.sample
  jenkins-shared-library/resources/pod-templates/go-agent.yaml
  jenkins-shared-library/resources/pod-templates/maven-agent.yaml
  jenkins-shared-library/resources/pod-templates/node-agent.yaml
  jenkins-shared-library/resources/pod-templates/python-agent.yaml
  jenkins-shared-library/vars/accessibilityTest.groovy
  jenkins-shared-library/vars/deployToArgoCD.groovy
  jenkins-shared-library/vars/dockerBuild.groovy
  jenkins-shared-library/vars/doraMetrics.groovy
  jenkins-shared-library/vars/goldenPathPipeline.groovy
  jenkins-shared-library/vars/prValidationPipeline.groovy
  jenkins-shared-library/vars/securityScan.groovy
  jenkins-shared-library/vars/vaultSecrets.groovy
  platform/apps/jenkins-application.yaml
  platform/apps/jenkins/README.md
  platform/apps/jenkins/credentials-secrets.yaml
  platform/apps/jenkins/jcasc.yaml
  platform/apps/jenkins/jenkins-admin-secret.yaml
  platform/apps/jenkins/jenkins-casc-configmap.yaml
  platform/apps/jenkins/secrets.yaml
  platform/apps/jenkins/secrets/.gitignore
  platform/apps/jenkins/secrets/jenkins-admin-credentials-sealed.yaml
  platform/apps/jenkins/secrets/jenkins-credentials-sealed.yaml
  platform/apps/jenkins/secrets/kustomization.yaml
  platform/apps/jenkins/values.yaml
Due: argocd-validate

feat(tekton): Phase 1 - deploy controllers + GitHub webhook skeleton (#1743)
  platform/apps/tekton-application.yaml
  platform/apps/tekton/README.md
  platform/apps/tekton/eventlistener-github-skeleton.yaml
Due: argocd-validate

feat(tekton): wire in #1660's GitHub webhook skeleton
  platform/apps/tekton/eventlistener-github-skeleton.yaml
  platform/apps/tekton/kustomization.yaml
Due: none

feat(tekton): wire in #1660's GitHub webhook skeleton (#1823)
  platform/apps/tekton/eventlistener-github-skeleton.yaml
  platform/apps/tekton/kustomization.yaml
Due: none

fix(devlake): unblock deploy - dev-mode secrets, fix ExternalSecret bugs
  platform/apps/devlake/devlake-db-credentials-dev.yaml
  platform/apps/devlake/externalsecret-devlake.yaml
Due: none

fix(devlake): rewrite values against the chart's actual schema
  .pre-commit-config.yaml
  platform/apps/devlake/devlake-application.yaml
  platform/apps/devlake/devlake-db-credentials-dev.yaml
Due: argocd-validate

fix(devlake): unblock deploy - dev-mode secrets, fix ExternalSecret bugs (#1825)
  .pre-commit-config.yaml
  platform/apps/devlake/devlake-application.yaml
  platform/apps/devlake/devlake-db-credentials-dev.yaml
  platform/apps/devlake/externalsecret-devlake.yaml
Due: argocd-validate

fix(tekton): fix webhook listener RBAC - CrashLoopBackOff on cluster-scoped resources
  platform/apps/tekton/eventlistener-github-skeleton.yaml
Due: none

fix(sonarqube): fix dead chart repo URL, bump to latest stable
  platform/apps/sonarqube-application.yaml
Due: argocd-validate

fix(tekton): fix webhook listener RBAC - CrashLoopBackOff on cluster-scoped resources (#1827)
  platform/apps/tekton/eventlistener-github-skeleton.yaml
Due: none

fix(sonarqube): fix dead chart repo URL, bump to latest stable (#1828)
  platform/apps/sonarqube-application.yaml
Due: argocd-validate

feat(tekton): add the Phase 1 golden path pipeline (#1804)
  platform/apps/tekton/golden-path-pipeline.yaml
  platform/apps/tekton/kustomization.yaml
Due: none

fix(tekton): clear workspace fully before clone in golden path
  platform/apps/tekton/golden-path-pipeline.yaml
Due: none

Path conditions:
  kubeval: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  kustomize-validate: any of: ^infra/kubernetes/.*kustomization\.yaml$
  backstage-catalog-validate: any of: (catalog-info|\.catalog-info)\.yaml$
  argocd-validate: any of: .*application\.yaml$
  helm-lint: any of: ^infra/kubernetes/.*/Chart\.yaml$
  check-k8s-secrets: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  mkdocs-validate: any of: ^(mkdocs\.yml|docs/.*\.md)$
