Repository paruff/fawkes: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubeval, kustomize-validate, backstage-catalog-validate, argocd-validate, helm-lint, check-k8s-secrets, mkdocs-validate

kubeval:
  name: Validate Kubernetes manifests (kubeconform/kubeval)
  ...

kustomize-validate:
  name: Validate Kustomize builds
  ...

backstage-catalog-validate:
  name: Validate Backstage catalog files
  entry: bash -c 'if command -v yq &> /dev/null; then find . -name "catalog-info.yaml" -o -name "*.catalog-info.yaml" | xargs -I {} bash -c "yq eval . {} > /dev/null && echo \"✓ {}\""; else echo "⚠️  yq not installed, skipping Backstage catalog validation"; fi'
  ...

argocd-validate:
  name: Validate ArgoCD applications
  ...

helm-lint:
  name: Lint Helm charts
  entry: bash -c 'if command -v helm &> /dev/null; then for chart in infra/kubernetes/*/Chart.yaml; do dir=$(dirname "$chart"); echo "Linting $dir" && helm lint "$dir"; done; else echo "⚠️  helm not installed, skipping chart linting"; fi'
  language: system
  pass_filenames: false

check-k8s-secrets:
  name: Check for hardcoded secrets in K8s manifests
  entry: bash -c 'grep -r "kind. Secret" infra/kubernetes/ --include="*.yaml" --include="*.yml" 2>/dev/null | grep -v "stringData. {}" | grep -v "# Example" | grep -v "# Template" && exit 1 || exit 0'
  language: system
  pass_filenames: false

mkdocs-validate:
  name: Validate MkDocs configuration
  entry: bash -c 'if command -v mkdocs &> /dev/null && [ -f mkdocs.yml ]; then mkdocs build --strict --verbose --site-dir /tmp/mkdocs-build-test && rm -rf /tmp/mkdocs-build-test; else echo "⚠️  mkdocs not installed or mkdocs.yml not found"; fi'
  language: system
  ...

fix(azure): add untainted user node pool so ArgoCD can schedule on AKS (#2073)
  infra/terraform/argocd/values.yaml
  infra/terraform/examples/azure-complete-new/main.tf
  infra/terraform/examples/azure-complete-new/variables.tf
  infra/terraform/modules/azure/kubernetes-cluster/README.md
  infra/terraform/modules/azure/kubernetes-cluster/main.tf
  infra/terraform/modules/azure/kubernetes-cluster/variables.tf
Due: none

docs(phase4): link new Alertmanager-DevLake adapter issue (#2079)
  docs/BACKLOG.md
  docs/phase-2-closure-plan.md
Due: mkdocs-validate

docs(known-limitations): flag DevLake API blocked on unapproved migration
  docs/KNOWN_LIMITATIONS.md
Due: mkdocs-validate

docs(plan): update acceptance checklist with evidence links
  docs/elite-engineering-bridge-plan.md
Due: mkdocs-validate

docs(phase3): resolve devlake-lake blocker, document bootstrap gap (#2078)
  docs/KNOWN_LIMITATIONS.md
  docs/phase-2-closure-plan.md
  platform/bootstrap/README.md
Due: mkdocs-validate

docs(plan): update acceptance checklist with evidence links (#2082)
  docs/elite-engineering-bridge-plan.md
Due: mkdocs-validate

docs(phase4): link new Alertmanager-DevLake adapter issue (#2079) (#2080)
  docs/BACKLOG.md
  docs/phase-2-closure-plan.md
Due: mkdocs-validate

docs(planning): add 4-tier planning cascade + product discovery docs
  AGENTS.md
  EXECUTION_QUEUE.md
  MILESTONES.md
  VISION.md
  docs/product/discovery-draft.md
  docs/product/spec.md
  plan-for-the-day.md
Due: mkdocs-validate

docs(planning): add 4-tier planning cascade + product discovery docs (#2085)
  AGENTS.md
  EXECUTION_QUEUE.md
  MILESTONES.md
  VISION.md
  docs/product/discovery-draft.md
  docs/product/spec.md
  plan-for-the-day.md
Due: mkdocs-validate

fix(argocd): raise repo-server liveness timeout from 1s to 10s
  docs/KNOWN_LIMITATIONS.md
  docs/phase-2-closure-plan.md
  infra/terraform/argocd/values.yaml
Due: mkdocs-validate

fix(argocd): raise repo-server liveness timeout from 1s to 10s (#2087)
  docs/KNOWN_LIMITATIONS.md
  docs/phase-2-closure-plan.md
  infra/terraform/argocd/values.yaml
Due: mkdocs-validate

docs(phase2): update Phase 0 status - merged, plan-verified, apply blocked
  docs/phase-2-closure-plan.md
Due: mkdocs-validate

docs(phase2): update Phase 0 status - merged, plan-verified, apply blocked (#2089)
  docs/phase-2-closure-plan.md
Due: mkdocs-validate

feat(arch): integrate architect feedback — Tekton, 2 monoliths, OpenBao, native DORA
  .pre-commit-config.yaml
  AGENTS.md
  EXECUTION_QUEUE.md
  MILESTONES.md
  README.md
  VISION.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT_STRATEGY.md
  docs/KNOWN_LIMITATIONS.md
  docs/copilot/jenkins-pipelines.md
  docs/deployment/jenkins-kubernetes-verification.md
  docs/how-to/jenkins-casc-configuration.md
  docs/reference/api/jenkins-webhook.md
  docs/reference/config/jenkins-values.md
  docs/tools/jenkins.md
  platform/apps/prometheus/rules/dora.yml
Due: mkdocs-validate

feat(arch): integrate architect feedback — Tekton, 2 monoliths, OpenBao, native DORA (#2091)
  .pre-commit-config.yaml
  AGENTS.md
  EXECUTION_QUEUE.md
  MILESTONES.md
  README.md
  VISION.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT_STRATEGY.md
  docs/KNOWN_LIMITATIONS.md
  docs/copilot/jenkins-pipelines.md
  docs/deployment/jenkins-kubernetes-verification.md
  docs/how-to/jenkins-casc-configuration.md
  docs/reference/api/jenkins-webhook.md
  docs/reference/config/jenkins-values.md
  docs/tools/jenkins.md
  platform/apps/prometheus/rules/dora.yml
Due: mkdocs-validate

chore: platform status 2026-09-15T03:02:02Z [skip ci]
  docs/PLATFORM_STATUS.md
  reports/golden-path-devex-validation-20260915-030147.json
  reports/golden-path-dora-validation-20260915-030151.json
  reports/golden-path-gitops-validation-20260915-030151.json
  reports/golden-path-pipeline-validation-20260915-030200.json
  reports/golden-path-progressive-delivery-validation-20260915-030200.json
  reports/golden-path-resources-validation-20260915-030200.json
  reports/golden-path-security-validation-20260915-030200.json
Due: mkdocs-validate

feat: clear P0 release gate items
  EXECUTION_QUEUE.md
  docs/KNOWN_LIMITATIONS.md
  infra/terraform/modules/aws/terraform-state/.terraform.lock.hcl
  infra/terraform/modules/aws/terraform-state/README.md
  infra/terraform/modules/aws/terraform-state/main.tf
  infra/terraform/modules/aws/terraform-state/outputs.tf
  infra/terraform/modules/aws/terraform-state/variables.tf
  platform/apps/prometheus/rules/dora.yml
  templates/java-service/skeleton/Jenkinsfile
  templates/java-service/skeleton/catalog-info.yaml
  templates/java-service/skeleton/tekton-pipeline.yaml
  templates/nodejs-service/skeleton/Jenkinsfile
  templates/nodejs-service/skeleton/catalog-info.yaml
  templates/nodejs-service/skeleton/tekton-pipeline.yaml
  templates/python-service/skeleton/Jenkinsfile
  templates/python-service/skeleton/tekton-pipeline.yaml
  tests/terratest/aws_modules_test.go
Due: backstage-catalog-validate, mkdocs-validate

fix: remove duplicate copyright headers from terraform and dora files
  infra/terraform/modules/aws/terraform-state/main.tf
  infra/terraform/modules/aws/terraform-state/outputs.tf
  infra/terraform/modules/aws/terraform-state/variables.tf
  platform/apps/prometheus/rules/dora.yml
Due: none

feat: clear P0 release gate items (#2112)
  EXECUTION_QUEUE.md
  docs/KNOWN_LIMITATIONS.md
  infra/terraform/modules/aws/terraform-state/.terraform.lock.hcl
  infra/terraform/modules/aws/terraform-state/README.md
  infra/terraform/modules/aws/terraform-state/main.tf
  infra/terraform/modules/aws/terraform-state/outputs.tf
  infra/terraform/modules/aws/terraform-state/variables.tf
  platform/apps/prometheus/rules/dora.yml
  templates/java-service/skeleton/Jenkinsfile
  templates/java-service/skeleton/catalog-info.yaml
  templates/java-service/skeleton/tekton-pipeline.yaml
  templates/nodejs-service/skeleton/Jenkinsfile
  templates/nodejs-service/skeleton/catalog-info.yaml
  templates/nodejs-service/skeleton/tekton-pipeline.yaml
  templates/python-service/skeleton/Jenkinsfile
  templates/python-service/skeleton/tekton-pipeline.yaml
  tests/terratest/aws_modules_test.go
Due: backstage-catalog-validate, mkdocs-validate

docs: add service consolidation design spec (17→2 monoliths)
  docs/superpowers/specs/2026-09-15-service-consolidation-design.md
Due: mkdocs-validate

feat(secrets): add SealedSecret generation script and validation tests (#1797)
  scripts/generate-sealed-secrets.sh
  tests/test_sealed_secrets.py
Due: none

feat(infra): rename IRSA module from tracer-bullet to python-fawkes-path (#1578)
  infra/aws/main.tf
Due: none

test(integration): add python-fawkes-path golden path test suite (#1938)
  tests/integration/test_python_fawkes_path_golden_path.py
Due: none

docs(design): add java-fawkes-path golden path design spec (#2032)
  docs/superpowers/specs/2026-09-15-java-fawkes-path-golden-path-design.md
Due: mkdocs-validate

feat: P1 sprint items — secrets, IRSA, integration tests, design specs (#2114)
  docs/superpowers/specs/2026-09-15-java-fawkes-path-golden-path-design.md
  infra/aws/main.tf
  scripts/generate-sealed-secrets.sh
  tests/integration/test_python_fawkes_path_golden_path.py
  tests/test_sealed_secrets.py
Due: mkdocs-validate

chore(platform): remove Jenkins refs, correct P0/P1 doc drift
  AGENTS.md
  EXECUTION_QUEUE.md
  catalog-info.yaml
  docs/KNOWN_LIMITATIONS.md
  services/samples/sample-java-app/Jenkinsfile
  services/samples/sample-java-app/catalog-info.yaml
  services/samples/sample-nodejs-app/Jenkinsfile
  services/samples/sample-nodejs-app/catalog-info.yaml
  services/samples/sample-python-app/Jenkinsfile
Due: backstage-catalog-validate, mkdocs-validate

fix(observability): deploy DORA recording rules, correct P0 DevLake status
  EXECUTION_QUEUE.md
  docs/KNOWN_LIMITATIONS.md
  platform/apps/prometheus/prometheus-application.yaml
  platform/apps/prometheus/rules/dora.yml
Due: argocd-validate, mkdocs-validate

docs(queue): point P1 rows at the tracking issues just filed
  EXECUTION_QUEUE.md
Due: none

fix(argocd): expose controller/server/repoServer metrics for #2117
  infra/terraform/argocd/values.yaml
Due: none

fix(observability): deploy DORA recording rules, correct P0/P1 status drift (#2118)
  AGENTS.md
  EXECUTION_QUEUE.md
  catalog-info.yaml
  docs/KNOWN_LIMITATIONS.md
  infra/terraform/argocd/values.yaml
  platform/apps/prometheus/prometheus-application.yaml
  platform/apps/prometheus/rules/dora.yml
  services/samples/sample-java-app/Jenkinsfile
  services/samples/sample-java-app/catalog-info.yaml
  services/samples/sample-nodejs-app/Jenkinsfile
  services/samples/sample-nodejs-app/catalog-info.yaml
  services/samples/sample-python-app/Jenkinsfile
Due: backstage-catalog-validate, argocd-validate, mkdocs-validate

docs(milestones): map golden-path verification planes to phase gates
  MILESTONES.md
Due: none

docs(milestones): map golden-path verification planes to phase gates (#2121)
  MILESTONES.md
Due: none

fix(azure): write kubeconfig so ignite.sh can't silently target the wrong cluster
  .gitignore
  infra/azure/.terraform.lock.hcl
  infra/azure/main.tf
  infra/azure/versions.tf
Due: none

fix(azure): write kubeconfig so ignite.sh can't silently target the wrong cluster (#2123)
  .gitignore
  infra/azure/.terraform.lock.hcl
  infra/azure/main.tf
  infra/azure/versions.tf
Due: none

docs(planning): sync EXECUTION_QUEUE.md and plan-for-the-day.md to today
  EXECUTION_QUEUE.md
  plan-for-the-day.md
Due: none

docs(planning): sync EXECUTION_QUEUE.md and plan-for-the-day.md to today (#2127)
  EXECUTION_QUEUE.md
  plan-for-the-day.md
Due: none

fix(tekton): tolerate the Spot node pool taint on fawkes-dev-aks
  platform/apps/tekton/kustomization.yaml
Due: none

fix(dora): real DORA recording rules against live-verified metric names
  platform/apps/prometheus/prometheus-application.yaml
  platform/apps/prometheus/rules/dora.yml
  platform/apps/tekton/kustomization.yaml
  platform/apps/tekton/tekton-servicemonitor.yaml
Due: argocd-validate

fix(grafana): pin non-distroless image, distroless drops the prometheus plugin
  platform/apps/prometheus/prometheus-application.yaml
Due: argocd-validate

Path conditions:
  kubeval: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  kustomize-validate: any of: ^infra/kubernetes/.*kustomization\.yaml$
  backstage-catalog-validate: any of: (catalog-info|\.catalog-info)\.yaml$
  argocd-validate: any of: .*application\.yaml$
  helm-lint: any of: ^infra/kubernetes/.*/Chart\.yaml$
  check-k8s-secrets: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  mkdocs-validate: any of: ^(mkdocs\.yml|docs/.*\.md)$
