Repository paruff/fawkes: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubeval, kustomize-validate, backstage-catalog-validate, argocd-validate, helm-lint, check-k8s-secrets, mkdocs-validate

Path conditions:
  kubeval: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  kustomize-validate: any of: ^infra/kubernetes/.*kustomization\.yaml$
  backstage-catalog-validate: any of: (catalog-info|\.catalog-info)\.yaml$
  argocd-validate: any of: .*application\.yaml$
  helm-lint: any of: ^infra/kubernetes/.*/Chart\.yaml$
  check-k8s-secrets: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  mkdocs-validate: any of: ^(mkdocs\.yml|docs/.*\.md)$

fix(grafana): pin 11.5.2, Grafana 13.2.1 doesn't register the prometheus plugin
  platform/apps/prometheus/prometheus-application.yaml
Due: argocd-validate

docs(queue): #2117 ArgoCD/Tekton DORA metrics verified live on fawkes-dev-aks
  EXECUTION_QUEUE.md
Due: none

fix(dora): tolerate Spot taint + real DORA metrics against live-verified names (#2129)
  EXECUTION_QUEUE.md
  platform/apps/prometheus/prometheus-application.yaml
  platform/apps/prometheus/rules/dora.yml
  platform/apps/tekton/kustomization.yaml
  platform/apps/tekton/tekton-servicemonitor.yaml
Due: argocd-validate

feat(dora): wire real Alertmanager-backed MTTR, drop the FDRT proxy
  platform/apps/prometheus/prometheus-application.yaml
  platform/apps/prometheus/rules/dora.yml
Due: argocd-validate

chore(devlake): decommission - native PromQL DORA metrics now live
  platform/bootstrap/platform-applicationset.yaml
Due: none

feat(dora): resolve Rework Rate definition, audit Jenkins/Vault/DevLake ADRs
  docs/METRICS.md
  docs/adr/ADR-004 jenkins 4 ci.md
  docs/adr/ADR-015 vault deployment.md
  docs/adr/ADR-016 devlake-dora-strategy.md
  docs/adr/ADR-036 tekton-for-ci-cd.md
  docs/adr/ADR-037 openbao-secrets-management.md
  docs/adr/ADR-038 native-promql-dora-metrics.md
  scripts/weekly-metrics.sh
  services/dora-metrics/README.md
  services/dora-metrics/app/__init__.py
  services/dora-metrics/app/collectors/__init__.py
  services/dora-metrics/app/collectors/base.py
  services/dora-metrics/app/collectors/github.py
  services/dora-metrics/app/collectors/registry.py
  services/dora-metrics/app/collectors/stubs.py
  templates/java-service/skeleton/catalog-info.yaml
  templates/nodejs-service/skeleton/catalog-info.yaml
  templates/python-service/skeleton/catalog-info.yaml
Due: backstage-catalog-validate, mkdocs-validate

feat(dora): wire real Alertmanager-backed MTTR (missing from merged #2129) (#2132)
  docs/METRICS.md
  docs/adr/ADR-004 jenkins 4 ci.md
  docs/adr/ADR-015 vault deployment.md
  docs/adr/ADR-016 devlake-dora-strategy.md
  docs/adr/ADR-036 tekton-for-ci-cd.md
  docs/adr/ADR-037 openbao-secrets-management.md
  docs/adr/ADR-038 native-promql-dora-metrics.md
  platform/apps/prometheus/prometheus-application.yaml
  platform/apps/prometheus/rules/dora.yml
  platform/bootstrap/platform-applicationset.yaml
  scripts/weekly-metrics.sh
  services/dora-metrics/README.md
  services/dora-metrics/app/__init__.py
  services/dora-metrics/app/collectors/__init__.py
  services/dora-metrics/app/collectors/base.py
  services/dora-metrics/app/collectors/github.py
  services/dora-metrics/app/collectors/registry.py
  services/dora-metrics/app/collectors/stubs.py
  templates/java-service/skeleton/catalog-info.yaml
  templates/nodejs-service/skeleton/catalog-info.yaml
  templates/python-service/skeleton/catalog-info.yaml
Due: backstage-catalog-validate, argocd-validate, mkdocs-validate

docs(planning): sync MILESTONES/EXECUTION_QUEUE/BACKLOG to 2026-09-17 state
  EXECUTION_QUEUE.md
  MILESTONES.md
  docs/BACKLOG.md
  docs/phase-2-closure-plan.md
Due: mkdocs-validate

fix(scripts): guard unbound ARM_SUBSCRIPTION_ID in ignite.sh's summary print
  scripts/lib/summary.sh
Due: none

fix(azure): wire kubelogin conversion into provision_azure_cluster
  scripts/lib/providers/azure.sh
Due: none

docs(planning): point BACKLOG.md at EXECUTION_QUEUE.md as the status authority
  EXECUTION_QUEUE.md
  docs/BACKLOG.md
Due: mkdocs-validate

docs(planning): record live-verified progressive delivery and quality gate results
  EXECUTION_QUEUE.md
  MILESTONES.md
  docs/BACKLOG.md
  docs/DEPLOYMENT_STRATEGY.md
  docs/phase-2-closure-plan.md
  infra/azure/.terraform.lock.hcl
  platform/apps/python-fawkes-path/python-fawkes-path-beta-applicationset.yaml
Due: mkdocs-validate

fix(tekton): grant sonar-scan step root to fix shared-workspace permission failure
  platform/apps/tekton/golden-path-pipeline.yaml
Due: none

fix(tekton): live-verify shift-left security gate and canary rollback on Azure (#2134)
  EXECUTION_QUEUE.md
  MILESTONES.md
  docs/BACKLOG.md
  docs/DEPLOYMENT_STRATEGY.md
  docs/phase-2-closure-plan.md
  infra/azure/.terraform.lock.hcl
  platform/apps/python-fawkes-path/python-fawkes-path-beta-applicationset.yaml
  platform/apps/tekton/golden-path-pipeline.yaml
  scripts/lib/providers/azure.sh
  scripts/lib/summary.sh
Due: mkdocs-validate

feat(devex): wire Backstage/Postgres/space-metrics into the platform ApplicationSet
  platform/apps/postgresql/db-shared-dev-cluster.yaml
  platform/apps/postgresql/db-space-metrics-credentials.yaml
  platform/apps/postgresql/kustomization.yaml
  platform/apps/space-metrics/deployment.yaml
  platform/apps/space-metrics/kustomization.yaml
  platform/apps/space-metrics/secrets.yaml
  platform/apps/space-metrics/servicemonitor.yaml
  platform/apps/space-metrics/space-metrics-application.yaml
  platform/bootstrap/platform-applicationset.yaml
Due: argocd-validate

test: temporarily point revisions at this branch for live verification
  platform/apps/postgresql-application.yaml
  platform/apps/space-metrics/space-metrics-application.yaml
  platform/bootstrap/platform-applicationset.yaml
Due: argocd-validate

fix: move postgresql/space-metrics to path-based-applications generator
  platform/bootstrap/path-based-applications.yaml
  platform/bootstrap/platform-applicationset.yaml
Due: none

chore: revert test-only revision overrides back to HEAD
  platform/apps/postgresql-application.yaml
  platform/apps/space-metrics/space-metrics-application.yaml
  platform/bootstrap/path-based-applications.yaml
Due: argocd-validate

docs: record DevEx plane (Backstage/space-metrics) findings and blockers
  EXECUTION_QUEUE.md
  docs/golden-path-verification-planes.md
Due: mkdocs-validate

feat(devex): wire Backstage and SPACE metrics into the platform, live-verified on Azure (#2136)
  EXECUTION_QUEUE.md
  docs/golden-path-verification-planes.md
  platform/apps/postgresql/db-shared-dev-cluster.yaml
  platform/apps/postgresql/db-space-metrics-credentials.yaml
  platform/apps/postgresql/kustomization.yaml
  platform/apps/space-metrics/deployment.yaml
  platform/apps/space-metrics/kustomization.yaml
  platform/apps/space-metrics/secrets.yaml
  platform/apps/space-metrics/servicemonitor.yaml
  platform/apps/space-metrics/space-metrics-application.yaml
  platform/bootstrap/path-based-applications.yaml
  platform/bootstrap/platform-applicationset.yaml
Due: argocd-validate, mkdocs-validate

fix(postgresql): break the CNPG-operator/sealed-secrets atomic-sync bundle
  platform/apps/postgresql/kustomization.yaml
  platform/bootstrap/platform-applicationset.yaml
Due: none

test: temporarily point revisions at this branch for live verification
  platform/apps/postgresql-application.yaml
  platform/bootstrap/path-based-applications.yaml
Due: argocd-validate

fix(space-metrics): add missing greenlet dependency for async SQLAlchemy
  platform/apps/postgresql-application.yaml
  platform/apps/space-metrics/deployment.yaml
  platform/bootstrap/path-based-applications.yaml
  services/space-metrics/requirements.txt
Due: argocd-validate

docs: record postgresql bootstrap-ordering fix as resolved
  EXECUTION_QUEUE.md
Due: none

fix(postgresql): break the CNPG-operator/sealed-secrets atomic-sync bundle (#2138)
  EXECUTION_QUEUE.md
  platform/apps/postgresql/kustomization.yaml
  platform/apps/space-metrics/deployment.yaml
  platform/bootstrap/platform-applicationset.yaml
  services/space-metrics/requirements.txt
Due: none

chore(azure): disable Container Insights, enable VPA addon
  docs/KNOWN_LIMITATIONS.md
  infra/azure/main.tf
  infra/azure/outputs.tf
  infra/azure/variables.tf
Due: mkdocs-validate

chore(azure): disable Container Insights, enable VPA addon (#2142)
  docs/KNOWN_LIMITATIONS.md
  infra/azure/main.tf
  infra/azure/outputs.tf
  infra/azure/variables.tf
Due: mkdocs-validate

feat(dora): fawkes-on-fawkes DORA self-measurement (bridge-plan Phase 5)
  README.md
  platform/apps/dora-metrics/deployment.yaml
  platform/apps/dora-metrics/dora-metrics-application.yaml
  platform/apps/dora-metrics/kustomization.yaml
  platform/apps/dora-metrics/service.yaml
  platform/apps/dora-metrics/serviceaccount.yaml
  platform/apps/dora-metrics/servicemonitor.yaml
  platform/apps/grafana-dashboards/dora-overview-dashboard-configmap.yaml
  platform/apps/prometheus/rules/dora.yml
  platform/bootstrap/path-based-applications.yaml
  services/dora-metrics/Dockerfile
  services/dora-metrics/app/collectors/base.py
  services/dora-metrics/app/collectors/github.py
  services/dora-metrics/app/main.py
  services/dora-metrics/requirements.txt
  services/dora-metrics/tests/__init__.py
  services/dora-metrics/tests/test_main.py
Due: argocd-validate

docs(dora): close bridge-plan Phase 5, add amd64 nodeSelector, track LAN k3s fixes
  EXECUTION_QUEUE.md
  docs/elite-engineering-bridge-plan.md
  platform/apps/dora-metrics/deployment.yaml
Due: mkdocs-validate

feat(dora): fawkes-on-fawkes DORA self-measurement — closes bridge-plan Phase 5 (#2144)
  EXECUTION_QUEUE.md
  README.md
  docs/elite-engineering-bridge-plan.md
  platform/apps/dora-metrics/deployment.yaml
  platform/apps/dora-metrics/dora-metrics-application.yaml
  platform/apps/dora-metrics/kustomization.yaml
  platform/apps/dora-metrics/service.yaml
  platform/apps/dora-metrics/serviceaccount.yaml
  platform/apps/dora-metrics/servicemonitor.yaml
  platform/apps/grafana-dashboards/dora-overview-dashboard-configmap.yaml
  platform/apps/prometheus/rules/dora.yml
  platform/bootstrap/path-based-applications.yaml
  services/dora-metrics/Dockerfile
  services/dora-metrics/app/collectors/base.py
  services/dora-metrics/app/collectors/github.py
  services/dora-metrics/app/main.py
  services/dora-metrics/requirements.txt
  services/dora-metrics/tests/__init__.py
  services/dora-metrics/tests/test_main.py
Due: argocd-validate, mkdocs-validate

chore: platform status 2026-09-19T03:01:52Z [skip ci]
  docs/PLATFORM_STATUS.md
  reports/golden-path-devex-validation-20260919-030136.json
  reports/golden-path-dora-validation-20260919-030141.json
  reports/golden-path-gitops-validation-20260919-030141.json
  reports/golden-path-pipeline-validation-20260919-030150.json
  reports/golden-path-progressive-delivery-validation-20260919-030150.json
  reports/golden-path-resources-validation-20260919-030150.json
  reports/golden-path-security-validation-20260919-030150.json
Due: mkdocs-validate

chore: platform status 2026-09-26T03:02:02Z [skip ci]
  docs/PLATFORM_STATUS.md
  reports/golden-path-devex-validation-20260926-030147.json
  reports/golden-path-dora-validation-20260926-030151.json
  reports/golden-path-gitops-validation-20260926-030151.json
  reports/golden-path-pipeline-validation-20260926-030200.json
  reports/golden-path-progressive-delivery-validation-20260926-030200.json
  reports/golden-path-resources-validation-20260926-030200.json
  reports/golden-path-security-validation-20260926-030200.json
Due: mkdocs-validate

fix(agents): working protected-path hook, harness symlinks, drop orphan lock
  .agents/commands/.gitkeep
  .claude/commands
  .claude/settings.json
  .claude/skills
  .devcontainer/devcontainer-lock.json
  .opencode/commands
  .opencode/skills
  scripts/hooks/claude-protected-path.sh
  scripts/test-claude-hooks.sh
Due: none

chore(agents): remove graphify references
  .claudeignore
  .gitignore
  Makefile
Due: none
