Repository paruff/fawkes: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubeval, kustomize-validate, backstage-catalog-validate, argocd-validate, helm-lint, check-k8s-secrets, mkdocs-validate

Path conditions:
  kubeval: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  kustomize-validate: any of: ^infra/kubernetes/.*kustomization\.yaml$
  backstage-catalog-validate: any of: (catalog-info|\.catalog-info)\.yaml$
  argocd-validate: any of: .*application\.yaml$
  helm-lint: any of: ^infra/kubernetes/.*/Chart\.yaml$
  check-k8s-secrets: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  mkdocs-validate: any of: ^(mkdocs\.yml|docs/.*\.md)$

fix(ci): enforce coverage gate in reusable-tests, archive stale status doc
  .github/workflows/reusable-tests.yml
  .github/workflows/service-python-tests.yml
  docs/archive/ci-pipeline-status.md
Due: mkdocs-validate

fix(scripts): correct false results in AT-E1 acceptance validators
  scripts/validate-at-e1-002.sh
  scripts/validate-at-e1-004.sh
  scripts/validate-at-e1-005.sh
  scripts/validate-at-e1-006.sh
  scripts/validate-at-e1-009.sh
Due: none

fix(gitops): split path-based apps out of platform-applications ApplicationSet
  platform/bootstrap/path-based-applications.yaml
  platform/bootstrap/platform-applicationset.yaml
Due: none

fix(deps): bump google.golang.org/grpc to v1.83.2 (#2007)
  .github/workflows/reusable-tests.yml
  .github/workflows/service-python-tests.yml
  docs/archive/ci-pipeline-status.md
  scripts/validate-at-e1-002.sh
  scripts/validate-at-e1-004.sh
  scripts/validate-at-e1-005.sh
  scripts/validate-at-e1-006.sh
  scripts/validate-at-e1-009.sh
  tests/terratest/go.mod
  tests/terratest/go.sum
Due: mkdocs-validate

fix(gitops): split path-based apps out of platform-applications ApplicationSet (#2010)
  platform/bootstrap/path-based-applications.yaml
  platform/bootstrap/platform-applicationset.yaml
Due: none

fix(gitops): register path-based-applications.yaml in bootstrap kustomization
  platform/bootstrap/kustomization.yaml
Due: none

fix(gitops): register path-based-applications.yaml in bootstrap kustomization (#2012)
  platform/bootstrap/kustomization.yaml
Due: none

fix(scripts): correct hardcoded resource names in AT-E1-006 validator
  scripts/validate-at-e1-006.sh
Due: none

fix(gitops): make storage-classes and loki portable off AKS
  platform/apps/loki/loki-application.yaml
  platform/apps/storage/kustomization.yaml
Due: argocd-validate

fix(scripts): correct hardcoded resource names in AT-E1-006 validator (#2014)
  scripts/validate-at-e1-006.sh
Due: none

fix(gitops): make storage-classes and loki portable off AKS (#2015)
  platform/apps/loki/loki-application.yaml
  platform/apps/storage/kustomization.yaml
Due: argocd-validate

fix(gitops): remove is-default-class from azure-disk-premium StorageClass
  platform/apps/storage/azure-disk-premium-storageclass.yaml
Due: none

fix(gitops): remove is-default-class from azure-disk-premium StorageClass (#2018)
  platform/apps/storage/azure-disk-premium-storageclass.yaml
Due: none

ci: add static analysis to catch this session's class of platform bugs
  .github/workflows/idp-e2e-tests.yml
  .github/workflows/platform-policy-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/reusable-policy-enforcement.yml
  .pre-commit-config.yaml
  .security-plane/policies/storage-operational.rego
Due: none

fix(ci): fix Rego v1 syntax and scope policies by input shape
  .github/workflows/platform-policy-ci.yml
  .github/workflows/reusable-policy-enforcement.yml
  .security-plane/policies/dockerfile-security.rego
  .security-plane/policies/kubernetes/kubernetes-security.rego
  .security-plane/policies/kubernetes/storage-operational.rego
  .security-plane/policies/supply-chain-security.rego
Due: none

ci: add static analysis to catch this session's class of platform bugs (#2020)
  .github/workflows/idp-e2e-tests.yml
  .github/workflows/platform-policy-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/reusable-policy-enforcement.yml
  .pre-commit-config.yaml
  .security-plane/policies/dockerfile-security.rego
  .security-plane/policies/kubernetes/kubernetes-security.rego
  .security-plane/policies/kubernetes/storage-operational.rego
  .security-plane/policies/supply-chain-security.rego
Due: none

fix(argocd): make repo-server/controller concurrency limits permanent (#1959)
  infra/terraform/modules/argocd-helm/values.yaml
Due: none

fix(argocd): make repo-server/controller concurrency limits permanent (#1959) (#2021)
  infra/terraform/modules/argocd-helm/values.yaml
Due: none

feat(observability): import DORA dashboards from uFawkesObs for #1572
  platform/apps/grafana-dashboards/dora-metrics-dashboard-configmap.yaml
  platform/apps/grafana-dashboards/dora-overview-dashboard-configmap.yaml
  platform/apps/grafana-dashboards/grafana-dashboards-application.yaml
  platform/apps/grafana-dashboards/kustomization.yaml
  platform/bootstrap/path-based-applications.yaml
Due: argocd-validate

feat(observability): import DORA dashboards from uFawkesObs for #1572 (#2023)
  platform/apps/grafana-dashboards/dora-metrics-dashboard-configmap.yaml
  platform/apps/grafana-dashboards/dora-overview-dashboard-configmap.yaml
  platform/apps/grafana-dashboards/grafana-dashboards-application.yaml
  platform/apps/grafana-dashboards/kustomization.yaml
  platform/bootstrap/path-based-applications.yaml
Due: argocd-validate

fix(prometheus): disable admission webhook to unblock stuck sync
  platform/apps/prometheus/prometheus-application.yaml
Due: argocd-validate

fix(prometheus): disable admission webhook to unblock stuck sync (#2025)
  platform/apps/prometheus/prometheus-application.yaml
Due: argocd-validate

feat(azure): add optional Spot-priced user node pool to AKS module
  infra/terraform/examples/azure-complete-new/main.tf
  infra/terraform/examples/azure-complete-new/variables.tf
  infra/terraform/modules/azure/kubernetes-cluster/README.md
  infra/terraform/modules/azure/kubernetes-cluster/main.tf
  infra/terraform/modules/azure/kubernetes-cluster/variables.tf
Due: none

feat(azure): add optional Spot-priced user node pool to AKS module (#2027)
  infra/terraform/examples/azure-complete-new/main.tf
  infra/terraform/examples/azure-complete-new/variables.tf
  infra/terraform/modules/azure/kubernetes-cluster/README.md
  infra/terraform/modules/azure/kubernetes-cluster/main.tf
  infra/terraform/modules/azure/kubernetes-cluster/variables.tf
Due: none

fix(azure): add explicit zone pinning for system/spot node pools
  infra/terraform/examples/azure-complete-new/main.tf
  infra/terraform/examples/azure-complete-new/variables.tf
  infra/terraform/modules/azure/kubernetes-cluster/README.md
  infra/terraform/modules/azure/kubernetes-cluster/main.tf
  infra/terraform/modules/azure/kubernetes-cluster/variables.tf
Due: none

fix(azure): add explicit zone pinning for system/spot node pools (#2029)
  infra/terraform/examples/azure-complete-new/main.tf
  infra/terraform/examples/azure-complete-new/variables.tf
  infra/terraform/modules/azure/kubernetes-cluster/README.md
  infra/terraform/modules/azure/kubernetes-cluster/main.tf
  infra/terraform/modules/azure/kubernetes-cluster/variables.tf
Due: none

fix(tekton): re-enable sonar.qualitygate.wait now that KL-10 is fixed
  docs/KNOWN_LIMITATIONS.md
  platform/apps/tekton/golden-path-pipeline.yaml
Due: mkdocs-validate

fix(tekton): re-enable sonar.qualitygate.wait now that KL-10 is fixed (#2033)
  docs/KNOWN_LIMITATIONS.md
  platform/apps/tekton/golden-path-pipeline.yaml
Due: mkdocs-validate

feat(tekton): add ephemeral per-PR preview environment task
  platform/apps/tekton/kustomization.yaml
  platform/apps/tekton/pr-preview-environment-task.yaml
Due: none

fix(tekton): narrow pr-preview RBAC to per-namespace scope, add resource limits
  platform/apps/tekton/pr-preview-environment-task.yaml
Due: none

feat(tekton): add ephemeral per-PR preview environment task (#2035)
  platform/apps/tekton/kustomization.yaml
  platform/apps/tekton/pr-preview-environment-task.yaml
Due: none

feat(chaos-mesh): add Chaos Mesh controller ArgoCD Application
  platform/apps/chaos-mesh/chaos-mesh-application.yaml
Due: argocd-validate

feat(chaos-mesh): add tracer-bullet pod-kill and network-delay experiments
  platform/apps/chaos-mesh/experiments/tracer-bullet-network-delay.yaml
  platform/apps/chaos-mesh/experiments/tracer-bullet-pod-kill.yaml
Due: none

feat(chaos-mesh): add Chaos Mesh controller ArgoCD Application (#2037)
  platform/apps/chaos-mesh/chaos-mesh-application.yaml
Due: argocd-validate

docs(dora): design deployment/incident webhook schema for Change Failure Rate
  docs/dora-change-failure-rate-schema.md
Due: mkdocs-validate

feat(chaos-mesh): add tracer-bullet pod-kill and network-delay experiments (#2038)
  platform/apps/chaos-mesh/experiments/tracer-bullet-network-delay.yaml
  platform/apps/chaos-mesh/experiments/tracer-bullet-pod-kill.yaml
Due: none

feat(alertmanager): add DevLake receiver on crash-loop alert for CFR
  platform/apps/prometheus/prometheus-application.yaml
Due: argocd-validate

docs(dora): design deployment/incident webhook schema for Change Failure Rate (#2040)
  docs/dora-change-failure-rate-schema.md
Due: mkdocs-validate

feat(alertmanager): add DevLake receiver on crash-loop alert for CFR (#2042)
  platform/apps/prometheus/prometheus-application.yaml
Due: argocd-validate
