Repository paruff/fawkes: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubeval, kustomize-validate, backstage-catalog-validate, argocd-validate, helm-lint, check-k8s-secrets, mkdocs-validate

Path conditions:
  kubeval: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  kustomize-validate: any of: ^infra/kubernetes/.*kustomization\.yaml$
  backstage-catalog-validate: any of: (catalog-info|\.catalog-info)\.yaml$
  argocd-validate: any of: .*application\.yaml$
  helm-lint: any of: ^infra/kubernetes/.*/Chart\.yaml$
  check-k8s-secrets: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  mkdocs-validate: any of: ^(mkdocs\.yml|docs/.*\.md)$

fix(infra): remove hardcoded storageClass: standard, fix ArgoCD namespace watch
  infra/terraform/argocd/values.yaml
  platform/apps/eclipse-che/eclipse-che-application.yaml
  platform/apps/feedback-service/database.yaml
  platform/apps/harbor-application.yaml
  platform/apps/jenkins-application.yaml
  platform/apps/openreplay/openreplay-application.yaml
  platform/apps/postgresql/db-shared-dev-cluster.yaml
  platform/apps/sonarqube-application.yaml
  platform/apps/vault/vault-application.yaml
Due: argocd-validate

docs: record live-verified selfHeal rollback mechanism (#1751 Phase 1)
  docs/DEPLOYMENT_STRATEGY.md
Due: mkdocs-validate

fix(infra): remove hardcoded storageClass: standard, fix ArgoCD namespace watch (#1759)
  docs/DEPLOYMENT_STRATEGY.md
  infra/terraform/argocd/values.yaml
  platform/apps/eclipse-che/eclipse-che-application.yaml
  platform/apps/feedback-service/database.yaml
  platform/apps/harbor-application.yaml
  platform/apps/jenkins-application.yaml
  platform/apps/openreplay/openreplay-application.yaml
  platform/apps/postgresql/db-shared-dev-cluster.yaml
  platform/apps/sonarqube-application.yaml
  platform/apps/vault/vault-application.yaml
Due: argocd-validate, mkdocs-validate

docs: correct BACKLOG and DEPLOYMENT_STRATEGY against live state
  docs/BACKLOG.md
  docs/DEPLOYMENT_STRATEGY.md
Due: mkdocs-validate

docs: correct BACKLOG and DEPLOYMENT_STRATEGY against live state (#1761)
  docs/BACKLOG.md
  docs/DEPLOYMENT_STRATEGY.md
Due: mkdocs-validate

test: close pytest-bdd collection gaps for 4 orphaned feature files
  tests/bdd/pytest.ini
  tests/bdd/step_definitions/rag_service_steps.py
Due: none

test: close pytest-bdd collection gaps for 4 orphaned feature files (#1763)
  tests/bdd/pytest.ini
  tests/bdd/step_definitions/rag_service_steps.py
Due: none

ci(smart-alerting): pilot build-scan-sign-SBOM-GitOps pipeline
  .github/workflows/service-python-tests.yml
  .github/workflows/smart-alerting-ci.yml
  services/smart-alerting/k8s/deployment.yaml
Due: none

ci(smart-alerting): pilot build-scan-sign-SBOM-GitOps pipeline (#1764)
  .github/workflows/service-python-tests.yml
  .github/workflows/smart-alerting-ci.yml
  services/smart-alerting/k8s/deployment.yaml
Due: none

fix(ci): install syft before SBOM attestation in reusable-image-signing
  .github/workflows/reusable-image-signing.yml
  scripts/validate-golden-path-dora.sh
  scripts/validate-golden-path-gitops.sh
  scripts/validate-golden-path-observability.sh
  scripts/validate-golden-path-pipeline.sh
Due: none

fix(ci): install syft before SBOM attestation in reusable-image-signing (#1765)
  .github/workflows/reusable-image-signing.yml
  scripts/validate-golden-path-dora.sh
  scripts/validate-golden-path-gitops.sh
  scripts/validate-golden-path-observability.sh
  scripts/validate-golden-path-pipeline.sh
Due: none

fix(gitops): exclude golden-path apps from ApplicationSet auto-discovery
  platform/bootstrap/applicationset.yaml
Due: none

chore(tracer-bullet): bump version to 0.1.1
  services/tracer-bullet/app/__init__.py
  services/tracer-bullet/tests/unit/test_main.py
Due: none

fix(gitops): exclude golden-path apps from ApplicationSet auto-discovery (#1767)
  platform/bootstrap/applicationset.yaml
Due: none

chore(tracer-bullet): bump version to 0.1.1 (#1768)
  services/tracer-bullet/app/__init__.py
  services/tracer-bullet/tests/unit/test_main.py
Due: none

fix(ci): pin Trivy to v0.74.0 in reusable-security-scanning.yml
  .github/workflows/reusable-security-scanning.yml
Due: none

fix(ci): pin Trivy to v0.74.0 in reusable-security-scanning.yml (#1771)
  .github/workflows/reusable-security-scanning.yml
Due: none

docs: add golden path verification planes reference
  docs/golden-path-verification-planes.md
Due: mkdocs-validate

chore(golden-path): retrigger tracer-bullet and smart-alerting CI
  services/smart-alerting/app/__init__.py
  services/tracer-bullet/app/__init__.py
  services/tracer-bullet/tests/unit/test_main.py
Due: none

docs: add golden path verification planes reference (#1774)
  docs/golden-path-verification-planes.md
Due: mkdocs-validate

chore(golden-path): retrigger tracer-bullet and smart-alerting CI (#1775)
  services/smart-alerting/app/__init__.py
  services/tracer-bullet/app/__init__.py
  services/tracer-bullet/tests/unit/test_main.py
Due: none

feat(golden-path): add Security, Resources, and DevEx verification planes
  scripts/validate-golden-path-devex.sh
  scripts/validate-golden-path-observability.sh
  scripts/validate-golden-path-resources.sh
  scripts/validate-golden-path-security.sh
Due: none

feat(golden-path): add Security, Resources, and DevEx verification planes (#1777)
  scripts/validate-golden-path-devex.sh
  scripts/validate-golden-path-observability.sh
  scripts/validate-golden-path-resources.sh
  scripts/validate-golden-path-security.sh
Due: none

docs: expand golden path planes with security/resources/devex scope
  docs/golden-path-verification-planes.md
Due: mkdocs-validate

fix(golden-path): fix 4 bugs found live-testing the new plane scripts
  scripts/validate-golden-path-devex.sh
  scripts/validate-golden-path-observability.sh
  scripts/validate-golden-path-security.sh
Due: none

docs: expand golden path planes with security/resources/devex scope (#1780)
  docs/golden-path-verification-planes.md
Due: mkdocs-validate

fix(ci): tag pushed images by immutable SHA, not floating :latest
  .github/workflows/dora-metrics-ci.yml
  .github/workflows/smart-alerting-ci.yml
  .github/workflows/tracer-bullet-ci.yml
Due: none

fix(golden-path): fix 4 bugs found live-testing the new plane scripts (#1781)
  scripts/validate-golden-path-devex.sh
  scripts/validate-golden-path-observability.sh
  scripts/validate-golden-path-security.sh
Due: none

fix(ci): tag pushed images by immutable SHA, not floating :latest (#1783)
  .github/workflows/dora-metrics-ci.yml
  .github/workflows/smart-alerting-ci.yml
  .github/workflows/tracer-bullet-ci.yml
Due: none

chore(golden-path): retrigger tracer-bullet and smart-alerting CI again
  services/smart-alerting/app/__init__.py
  services/tracer-bullet/app/__init__.py
  services/tracer-bullet/tests/unit/test_main.py
Due: none

chore(golden-path): retrigger tracer-bullet and smart-alerting CI again (#1785)
  services/smart-alerting/app/__init__.py
  services/tracer-bullet/app/__init__.py
  services/tracer-bullet/tests/unit/test_main.py
Due: none

fix(ci): add Trivy SARIF debug output; feat(bdd): smart-alerting.feature steps
  .github/workflows/reusable-security-scanning.yml
  scripts/validate-golden-path-security.sh
  services/tracer-bullet/app/__init__.py
  services/tracer-bullet/tests/unit/test_main.py
  tests/bdd/pytest.ini
  tests/bdd/step_definitions/smart_alerting_steps.py
Due: none

fix(ci): Trivy SARIF debug output; feat(bdd): smart-alerting.feature steps (#1787)
  .github/workflows/reusable-security-scanning.yml
  scripts/validate-golden-path-security.sh
  services/tracer-bullet/app/__init__.py
  services/tracer-bullet/tests/unit/test_main.py
  tests/bdd/pytest.ini
  tests/bdd/step_definitions/smart_alerting_steps.py
Due: none

fix(security): resolve the actual Trivy CVE blocking the golden path
  services/dora-metrics/Dockerfile
  services/smart-alerting/Dockerfile
  services/tracer-bullet/Dockerfile
Due: none

fix(security): resolve the actual Trivy CVE blocking the golden path (#1789)
  services/dora-metrics/Dockerfile
  services/smart-alerting/Dockerfile
  services/tracer-bullet/Dockerfile
Due: none

feat(ci): extend golden path to anomaly-detection; fix GitOps commit race
  .github/workflows/anomaly-detection-ci.yml
  .github/workflows/dora-metrics-ci.yml
  .github/workflows/reusable-python-service-golden-path.yml
  .github/workflows/service-python-tests.yml
  .github/workflows/tracer-bullet-ci.yml
Due: none

feat(ci): extend golden path to anomaly-detection; fix GitOps commit race (#1791)
  .github/workflows/anomaly-detection-ci.yml
  .github/workflows/dora-metrics-ci.yml
  .github/workflows/reusable-python-service-golden-path.yml
  .github/workflows/service-python-tests.yml
  .github/workflows/tracer-bullet-ci.yml
Due: none

test(bdd): implement opentelemetry-deployment.feature step definitions
  tests/bdd/pytest.ini
  tests/bdd/step_definitions/opentelemetry_deployment_steps.py
Due: none

test(bdd): implement opentelemetry-deployment.feature step definitions (#1794)
  tests/bdd/pytest.ini
  tests/bdd/step_definitions/opentelemetry_deployment_steps.py
Due: none

chore(golden-path): bump tracer-bullet and smart-alerting versions
  services/smart-alerting/app/__init__.py
  services/tracer-bullet/app/__init__.py
  services/tracer-bullet/tests/unit/test_main.py
Due: none
