Repository paruff/fawkes: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubeval, kustomize-validate, backstage-catalog-validate, argocd-validate, helm-lint, check-k8s-secrets, mkdocs-validate

Path conditions:
  kubeval: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  kustomize-validate: any of: ^infra/kubernetes/.*kustomization\.yaml$
  backstage-catalog-validate: any of: (catalog-info|\.catalog-info)\.yaml$
  argocd-validate: any of: .*application\.yaml$
  helm-lint: any of: ^infra/kubernetes/.*/Chart\.yaml$
  check-k8s-secrets: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  mkdocs-validate: any of: ^(mkdocs\.yml|docs/.*\.md)$

fix(sonarqube): remove duplicate SONAR_WEB_SYSTEMPASSCODE env var
  platform/apps/sonarqube-application.yaml
Due: argocd-validate

feat(tekton): add the Phase 1 golden path pipeline (#1804) (#1830)
  platform/apps/tekton/golden-path-pipeline.yaml
  platform/apps/tekton/kustomization.yaml
Due: none

fix(observability): unblock log shipping, add Tempo/OpenSearch datasources
  platform/apps/opentelemetry/otel-collector-application.yaml
  platform/apps/prometheus/prometheus-application.yaml
Due: argocd-validate

fix(sonarqube): remove duplicate SONAR_WEB_SYSTEMPASSCODE env var (#1831)
  platform/apps/sonarqube-application.yaml
Due: argocd-validate

fix(observability): unblock log shipping, add Tempo/OpenSearch datasources (#1833)
  platform/apps/opentelemetry/otel-collector-application.yaml
  platform/apps/prometheus/prometheus-application.yaml
Due: argocd-validate

feat(observability): upgrade otel-collector, Tempo, OpenSearch Dashboards
  platform/apps/opensearch/opensearch-dashboards-application.yaml
  platform/apps/opentelemetry/otel-collector-application.yaml
  platform/apps/tempo/tempo-application.yaml
Due: argocd-validate

fix(devlake): set numeric UID so the lake container can start
  platform/apps/devlake/devlake-application.yaml
Due: argocd-validate

fix(tekton): mount registry creds as a workspace so kaniko can push
  platform/apps/tekton/golden-path-pipeline.yaml
Due: none

feat(observability): upgrade otel-collector, Tempo, OpenSearch Dashboards (#1737, #1738) (#1835)
  platform/apps/devlake/devlake-application.yaml
  platform/apps/opensearch/opensearch-dashboards-application.yaml
  platform/apps/opentelemetry/otel-collector-application.yaml
  platform/apps/tekton/golden-path-pipeline.yaml
  platform/apps/tempo/tempo-application.yaml
Due: argocd-validate

fix(gitops): consolidate three competing ArgoCD bootstrap mechanisms
  platform/bootstrap/applicationset.yaml
  platform/bootstrap/kustomization.yaml
  platform/bootstrap/networking-application.yaml
  platform/bootstrap/platform-applications.yaml
Due: argocd-validate

fix(gitops): consolidate three competing ArgoCD bootstrap mechanisms (#1837)
  platform/bootstrap/applicationset.yaml
  platform/bootstrap/kustomization.yaml
  platform/bootstrap/networking-application.yaml
  platform/bootstrap/platform-applications.yaml
Due: argocd-validate

feat(prometheus): upgrade kube-prometheus-stack to 89.2.2 (#1735)
  platform/apps/prometheus/prometheus-application.yaml
Due: argocd-validate

feat(prometheus): upgrade kube-prometheus-stack to 89.2.2 (#1735) (#1839)
  platform/apps/prometheus/prometheus-application.yaml
Due: argocd-validate

test(bdd): add real Tekton golden-path coverage, retire Jenkins-era specs
  Makefile
  platform/apps/tekton/golden-path-pipeline.yaml
  platform/apps/trivy/README.md
  tests/acceptance/README.md
  tests/bdd/features/accessibility-testing.feature
  tests/bdd/features/archive/jenkins/__init__.py
  tests/bdd/features/archive/jenkins/golden-path.feature
  tests/bdd/features/archive/jenkins/jcasc-configuration.feature
  tests/bdd/features/archive/jenkins/jenkins-kubernetes-deployment.feature
  tests/bdd/features/archive/jenkins/pipeline-creation.feature
  tests/bdd/features/devlake-dora-metrics.feature
  tests/bdd/features/dora-webhooks.feature
  tests/bdd/features/golden-path-tekton.feature
  tests/bdd/features/prometheus-stack-deployment.feature
  tests/bdd/features/sonarqube-integration.feature
  tests/bdd/features/trivy-integration.feature
  tests/bdd/step_definitions/archive/test_golden_path.py
  tests/bdd/step_definitions/archive/test_jenkins.py
  tests/bdd/step_definitions/archive/test_jenkins_kubernetes_deployment.py
  tests/bdd/step_definitions/test_golden_path_tekton.py
Due: none

test(bdd): add real Tekton golden-path coverage, retire Jenkins-era specs (#1841)
  Makefile
  platform/apps/tekton/golden-path-pipeline.yaml
  platform/apps/trivy/README.md
  tests/acceptance/README.md
  tests/bdd/features/accessibility-testing.feature
  tests/bdd/features/archive/jenkins/__init__.py
  tests/bdd/features/archive/jenkins/golden-path.feature
  tests/bdd/features/archive/jenkins/jcasc-configuration.feature
  tests/bdd/features/archive/jenkins/jenkins-kubernetes-deployment.feature
  tests/bdd/features/archive/jenkins/pipeline-creation.feature
  tests/bdd/features/devlake-dora-metrics.feature
  tests/bdd/features/dora-webhooks.feature
  tests/bdd/features/golden-path-tekton.feature
  tests/bdd/features/prometheus-stack-deployment.feature
  tests/bdd/features/sonarqube-integration.feature
  tests/bdd/features/trivy-integration.feature
  tests/bdd/step_definitions/archive/test_golden_path.py
  tests/bdd/step_definitions/archive/test_jenkins.py
  tests/bdd/step_definitions/archive/test_jenkins_kubernetes_deployment.py
  tests/bdd/step_definitions/test_golden_path_tekton.py
Due: none

fix(argocd): resolve bootstrap namespace mismatch and app-of-apps collision
  platform/apps/ai-code-review-application.yaml
  platform/apps/backstage-application.yaml
  platform/apps/cert-manager/cert-manager-application.yaml
  platform/apps/cert-manager/cluster-issuers-application.yaml
  platform/apps/devlake/devlake-application.yaml
  platform/apps/eclipse-che/eclipse-che-application.yaml
  platform/apps/experimentation-application.yaml
  platform/apps/external-secrets/external-secrets-operator-application.yaml
  platform/apps/focalboard-application.yaml
  platform/apps/friction-bot-application.yaml
  platform/apps/harbor-application.yaml
  platform/apps/hasura-application.yaml
  platform/apps/ingress-nginx/ingress-nginx-application.yaml
  platform/apps/ingress-nginx/ingress-nginx-azure-application.yaml
  platform/apps/kyverno/kyverno-application.yaml
  platform/apps/kyverno/kyverno-policies-application.yaml
  platform/apps/openreplay/openreplay-application.yaml
  platform/apps/opensearch/opensearch-application.yaml
  platform/apps/opensearch/opensearch-dashboards-application.yaml
  platform/apps/opentelemetry/otel-collector-application.yaml
  platform/apps/plausible-application.yaml
  platform/apps/postgresql-application.yaml
  platform/apps/postgresql/cloudnativepg-operator-application.yaml
  platform/apps/prometheus/prometheus-application.yaml
  platform/apps/samples/sample-java-app-application.yaml
  platform/apps/samples/sample-nodejs-app-application.yaml
  platform/apps/samples/sample-python-app-application.yaml
  platform/apps/sonarqube-application.yaml
  platform/apps/storage/storage-application.yaml
  platform/apps/tekton-application.yaml
  platform/apps/tempo/tempo-application.yaml
  platform/apps/unleash-application.yaml
  platform/apps/vault-csi-driver/vault-csi-driver-application.yaml
  platform/apps/vault/vault-application.yaml
  platform/apps/vsm-service-application.yaml
  platform/bootstrap/app-of-apps.yaml
  platform/bootstrap/kustomization.yaml
  platform/bootstrap/project-default.yaml
  scripts/ignite.sh
  scripts/lib/argocd.sh
Due: argocd-validate

fix(argocd): resolve bootstrap namespace mismatch and app-of-apps collision (#1843)
  platform/apps/ai-code-review-application.yaml
  platform/apps/backstage-application.yaml
  platform/apps/cert-manager/cert-manager-application.yaml
  platform/apps/cert-manager/cluster-issuers-application.yaml
  platform/apps/devlake/devlake-application.yaml
  platform/apps/eclipse-che/eclipse-che-application.yaml
  platform/apps/experimentation-application.yaml
  platform/apps/external-secrets/external-secrets-operator-application.yaml
  platform/apps/focalboard-application.yaml
  platform/apps/friction-bot-application.yaml
  platform/apps/harbor-application.yaml
  platform/apps/hasura-application.yaml
  platform/apps/ingress-nginx/ingress-nginx-application.yaml
  platform/apps/ingress-nginx/ingress-nginx-azure-application.yaml
  platform/apps/kyverno/kyverno-application.yaml
  platform/apps/kyverno/kyverno-policies-application.yaml
  platform/apps/openreplay/openreplay-application.yaml
  platform/apps/opensearch/opensearch-application.yaml
  platform/apps/opensearch/opensearch-dashboards-application.yaml
  platform/apps/opentelemetry/otel-collector-application.yaml
  platform/apps/plausible-application.yaml
  platform/apps/postgresql-application.yaml
  platform/apps/postgresql/cloudnativepg-operator-application.yaml
  platform/apps/prometheus/prometheus-application.yaml
  platform/apps/samples/sample-java-app-application.yaml
  platform/apps/samples/sample-nodejs-app-application.yaml
  platform/apps/samples/sample-python-app-application.yaml
  platform/apps/sonarqube-application.yaml
  platform/apps/storage/storage-application.yaml
  platform/apps/tekton-application.yaml
  platform/apps/tempo/tempo-application.yaml
  platform/apps/unleash-application.yaml
  platform/apps/vault-csi-driver/vault-csi-driver-application.yaml
  platform/apps/vault/vault-application.yaml
  platform/apps/vsm-service-application.yaml
  platform/bootstrap/app-of-apps.yaml
  platform/bootstrap/kustomization.yaml
  platform/bootstrap/project-default.yaml
  scripts/ignite.sh
  scripts/lib/argocd.sh
Due: argocd-validate

fix(argocd): detect silent password-reset failure, add real login check
  scripts/lib/argocd.sh
  tests/bdd/step_definitions/test_argocd_deployment.py
Due: none

feat(tekton): add SonarQube scan (quality, bugs, coverage) to golden path
  platform/apps/tekton/golden-path-pipeline.yaml
Due: none

fix(argocd): detect silent password-reset failure, add real login check (#1846)
  scripts/lib/argocd.sh
  tests/bdd/step_definitions/test_argocd_deployment.py
Due: none

docs: multi-provider git source and container registry setup guide
  docs/MULTI_PROVIDER_SETUP.md
Due: mkdocs-validate

feat(tekton): add SonarQube scan (quality, bugs, coverage) to golden path (#1847)
  platform/apps/tekton/golden-path-pipeline.yaml
Due: none

fix(ci): update hardcoded platform/apps paths for moved apps
  .github/workflows/accessibility-testing.yml
  .github/workflows/idp-e2e-tests.yml
Due: none

docs: multi-provider git source and container registry setup guide (#1849)
  docs/MULTI_PROVIDER_SETUP.md
Due: mkdocs-validate

fix(argocd): remove stale duplicate tekton Application definition
  platform/apps/tekton-application.yaml
Due: argocd-validate

fix(argocd): remove stale duplicate tekton Application definition (#1851)
  platform/apps/tekton-application.yaml
Due: argocd-validate

feat(argocd): implement ApplicationSet migration + real render-check CI (#1842)
  .pre-commit-config.yaml
  docs/ARCHITECTURE.md
  platform/apps/kyverno/kyverno-application.yaml
  platform/bootstrap/platform-applications.yaml
  platform/bootstrap/platform-applicationset.yaml
  scripts/render-all-applications.sh
Due: argocd-validate, mkdocs-validate

feat(argocd): implement ApplicationSet migration + real render-check CI (#1842) (#1853)
  .pre-commit-config.yaml
  docs/ARCHITECTURE.md
  platform/apps/kyverno/kyverno-application.yaml
  platform/bootstrap/platform-applications.yaml
  platform/bootstrap/platform-applicationset.yaml
  scripts/render-all-applications.sh
Due: argocd-validate, mkdocs-validate

test(bdd): add quality-gates steps and fix pytest-bdd collection
  requirements-dev.txt
  tests/bdd/pytest.ini
  tests/bdd/step_definitions/archive/test_golden_path.py
  tests/bdd/step_definitions/archive/test_jenkins.py
  tests/bdd/step_definitions/archive/test_jenkins_kubernetes_deployment.py
  tests/bdd/step_definitions/quality_gates_steps.py
Due: none

test(ai-code-review): hash webhook signatures over transmitted bytes
  services/ai-code-review/tests/unit/test_main.py
Due: none

ci(services): enable golden-path pipeline for ai-code-review and nps
  .github/workflows/ai-code-review-ci.yml
  .github/workflows/nps-ci.yml
  .github/workflows/service-python-tests.yml
  services/ai-code-review/k8s/deployment.yaml
  services/nps/k8s/deployment.yaml
Due: none

test(bdd): quality-gates step definitions + golden-path CI for ai-code-review & nps (#1859)
  .github/workflows/ai-code-review-ci.yml
  .github/workflows/nps-ci.yml
  .github/workflows/service-python-tests.yml
  requirements-dev.txt
  services/ai-code-review/k8s/deployment.yaml
  services/ai-code-review/tests/unit/test_main.py
  services/nps/k8s/deployment.yaml
  tests/bdd/pytest.ini
  tests/bdd/step_definitions/archive/test_golden_path.py
  tests/bdd/step_definitions/archive/test_jenkins.py
  tests/bdd/step_definitions/archive/test_jenkins_kubernetes_deployment.py
  tests/bdd/step_definitions/quality_gates_steps.py
Due: none

test(ai-code-review): sign webhooks over raw request body
  services/ai-code-review/tests/unit/test_main.py
Due: none

test(bdd): add security-plane and secrets-scanning step definitions
  tests/bdd/pytest.ini
  tests/bdd/step_definitions/secrets_scanning_steps.py
  tests/bdd/step_definitions/security_plane_steps.py
Due: none

fix(ci): require write access before opencode workflow can trigger
  .github/workflows/opencode.yml
  tests/unit/test_opencode_routing.py
Due: none

ci(services): grant pull-requests write to golden-path callers
  .github/workflows/ai-code-review-ci.yml
  .github/workflows/anomaly-detection-ci.yml
  .github/workflows/nps-ci.yml
Due: none

ci(test): run BDD acceptance and integration collection in CI
  .github/workflows/code-quality.yml
  tests/bdd/step_definitions/quality_gates_steps.py
  tests/conftest.py
  tests/pytest.ini
Due: none

test(bdd): security-plane + secrets-scanning step definitions (#1796) (#1860)
  .github/workflows/ai-code-review-ci.yml
  .github/workflows/anomaly-detection-ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/nps-ci.yml
  services/ai-code-review/tests/unit/test_main.py
  tests/bdd/pytest.ini
  tests/bdd/step_definitions/quality_gates_steps.py
  tests/bdd/step_definitions/secrets_scanning_steps.py
  tests/bdd/step_definitions/security_plane_steps.py
  tests/conftest.py
  tests/pytest.ini
Due: none
