Repository paruff/fawkes: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubeval, kustomize-validate, backstage-catalog-validate, argocd-validate, helm-lint, check-k8s-secrets, mkdocs-validate

Path conditions:
  kubeval: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  kustomize-validate: any of: ^infra/kubernetes/.*kustomization\.yaml$
  backstage-catalog-validate: any of: (catalog-info|\.catalog-info)\.yaml$
  argocd-validate: any of: .*application\.yaml$
  helm-lint: any of: ^infra/kubernetes/.*/Chart\.yaml$
  check-k8s-secrets: any of: ^infra/kubernetes/.*\.(yaml|yml)$
  mkdocs-validate: any of: ^(mkdocs\.yml|docs/.*\.md)$

Revise gpt41-default agent documentation and rules
  .github/agents/gpt41-default.agent.md
Due: none

Revise infra-gitops agent documentation
  .github/agents/infra-gitops.agent.md
Due: none

Refactor issue-writer and test-engineer agents for improved clarity and functionality
  .github/agents/code-reviewer.agent.md
  .github/agents/gpt41-default.agent.md
  .github/agents/infra-gitops.agent.md
  .github/agents/issue-writer.agent.md
  .github/agents/test-engineer.agent.md
Due: none

Create copilot-workspace.yml with context paths
  .github/copilot-workspace.yml
Due: none

Refactor code structure and remove redundant code blocks for improved readability and maintainability
  data/issues/epic0.json.backup.20251217_181027
  data/issues/epic0_json(1).json
  data/issues/epic0_json.json
  data/issues/epic1-local.json
  data/issues/epic1.json
  data/issues/epic3.3.json
  data/issues/epic3.json
  data/issues/epic3.json.backup.20251217_180343
  data/issues/epic3.json.backup.20251217_180414
  data/issues/epic3.json.backup.20251217_180423
  data/issues/epic3.json.backup.20251217_180741
Due: none

Update scripts/dev-status.sh
  scripts/dev-status.sh
Due: none

Fix command syntax for k3d checks in dev-down.sh
  scripts/dev-down.sh
Due: none

fix(dev-status): improve error message for cluster check
  scripts/dev-status.sh
Due: none

Fix formatting issue in dev-status.sh
  scripts/dev-status.sh
Due: none

Delete scripts/dev-status.sh
  scripts/dev-status.sh
Due: none

Update dev-status.sh with fixed ArgoCD admin password retrieval code
  scripts/dev-status.sh
Due: none

Update security vulnerability template to fix lint error (#1274)
  .github/ISSUE_TEMPLATE/security_vulnerability.yml
Due: none

Remove extra blank line in security vulnerability template
  .github/ISSUE_TEMPLATE/security_vulnerability.yml
Due: none

Create .copilotignore to exclude specific files
  .copilotignore
Due: none

feat(wave-0): infra prerequisites — remote state, sealed secrets, BATS, DORA
  .github/workflows/ci-pr-size.yml
  docs/how-to/operations/purge-secrets-from-git.md
  infra/aws/backend.hcl.example
  infra/aws/backend.tf
  infra/terraform/aks/backend.hcl.example
  infra/terraform/aks/backend.tf
  platform/apps/sealed-secrets/kustomization.yaml
  platform/apps/sealed-secrets/sealed-secrets-application.yaml
  platform/apps/sealed-secrets/sealed-secrets-key-template.yaml
  platform/apps/sealed-secrets/sealed-secrets-key.yaml
  scripts/aggregate-dora-timestamps.sh
  tests/bats/unit/test_error_handling.bats
Due: argocd-validate, mkdocs-validate

feat(wave-1): tracer bullet — full end-to-end deployment pipeline
  .github/workflows/tracer-bullet-ci.yml
  infra/terraform/modules/aws/eks-namespace/main.tf
  infra/terraform/modules/aws/eks-namespace/outputs.tf
  infra/terraform/modules/aws/eks-namespace/variables.tf
  infra/terraform/modules/aws/eks-namespace/versions.tf
  platform/apps/tracer-bullet/deployment.yaml
  platform/apps/tracer-bullet/ingress.yaml
  platform/apps/tracer-bullet/kustomization.yaml
  platform/apps/tracer-bullet/service.yaml
  platform/apps/tracer-bullet/serviceaccount.yaml
  platform/apps/tracer-bullet/tracer-bullet-application.yaml
  services/tracer-bullet/Dockerfile
  services/tracer-bullet/app/__init__.py
  services/tracer-bullet/app/main.py
  services/tracer-bullet/pytest.ini
  services/tracer-bullet/requirements-dev.txt
  services/tracer-bullet/requirements.txt
  services/tracer-bullet/tests/__init__.py
  services/tracer-bullet/tests/unit/__init__.py
  services/tracer-bullet/tests/unit/test_main.py
Due: argocd-validate

docs: update plan with post-MVP roadmap (Phases 3-5)
  .agents/memory/plan.md
Due: none

fix(wave-1): address review — Trivy gate, type hints, logging, shebangs
  .github/workflows/tracer-bullet-ci.yml
  platform/apps/tracer-bullet/deployment.yaml
  services/tracer-bullet/Dockerfile
  services/tracer-bullet/app/main.py
  services/tracer-bullet/pytest.ini
  services/tracer-bullet/tests/unit/test_main.py
Due: none

fix(wave-0): address review blockers — cross-platform date, gitignore, labels
  .gitignore
  platform/apps/sealed-secrets/kustomization.yaml
  platform/apps/sealed-secrets/sealed-secrets-application.yaml
  platform/apps/sealed-secrets/sealed-secrets-key-template.yaml
  platform/apps/sealed-secrets/sealed-secrets-key.yaml
  scripts/aggregate-dora-timestamps.sh
Due: argocd-validate

fix(ci): address review findings — pin action versions, improve change detection
  .github/workflows/code-quality.yml
Due: none

fix(wave-2): address review — labels, OTLP toggle, PromQL, prereqs
  platform/apps/prometheus/gen-ai-recording-rules.yaml
  platform/apps/tracer-bullet/deployment.yaml
  services/tracer-bullet/app/main.py
  tests/e2e/validate-pipeline.sh
Due: none

fix(ci): remove duplicate linters, merge python jobs, align coverage gate
  .github/agents/AGENTS.md
  .github/workflows/code-quality.yml
  scripts/dev-up.sh
Due: none

docs: update PROJECT_STATUS.md to reflect June 2026 reality
  docs/PROJECT_STATUS.md
Due: mkdocs-validate

refactor(ci): extract composite action for Python environment setup
  .github/actions/setup-python-env/action.yml
  .github/workflows/code-quality.yml
Due: none

feat(wave-2): observable golden path — OTEL tracing, structured logs, BDD, E2E
  platform/apps/prometheus/gen-ai-recording-rules.yaml
  platform/apps/tracer-bullet/deployment.yaml
  services/tracer-bullet/app/main.py
  services/tracer-bullet/pytest.ini
  services/tracer-bullet/requirements-dev.txt
  services/tracer-bullet/requirements.txt
  services/tracer-bullet/tests/bdd/features/observability.feature
  services/tracer-bullet/tests/bdd/steps/observability_steps.py
  services/tracer-bullet/tests/unit/test_main.py
  tests/e2e/validate-pipeline.sh
Due: none

feat(opencode): add agent skills and project config for free-tier models
  .agents/memory/plan.md
  .agents/memory/skill-log.md
  .agents/skills/github-actions/SKILL.md
  .agents/skills/kubernetes-manifests/SKILL.md
  .agents/skills/opentelemetry/SKILL.md
  .agents/skills/security-hardening/SKILL.md
  .agents/skills/service-blueprint/SKILL.md
  .agents/skills/terraform-modules/SKILL.md
  opencode.json
Due: none

docs(research): add DORA research index with summaries and Fawkes implications
  .agents/memory/plan.md
  .gitignore
  docs/research/README.md
  docs/research/dora/README.md
Due: mkdocs-validate

feat(dcp+security): Backstage template discovery + advisory security scanning
  .github/workflows/code-quality.yml
  catalog-info.yaml
  templates/location.yaml
Due: backstage-catalog-validate

feat(dcp): wire all 23 services into Backstage catalog + shared template fragments
  catalog-info.yaml
  extensions/ai/services/rag/catalog-info.yaml
  extensions/data-platform/services/data-quality/catalog-info.yaml
  services/analytics-dashboard/catalog-info.yaml
  services/anomaly-detection/catalog-info.yaml
  services/cloud-provider/catalog-info.yaml
  services/data-api/catalog-info.yaml
  services/devex-survey-automation/catalog-info.yaml
  services/discovery-metrics/catalog-info.yaml
  services/experimentation/catalog-info.yaml
  services/feedback-bot/catalog-info.yaml
  services/feedback-cli/catalog-info.yaml
  services/feedback/catalog-info.yaml
  services/friction-bot/catalog-info.yaml
  services/friction-cli/catalog-info.yaml
  services/insights/catalog-info.yaml
  services/location.yaml
  services/mcp-k8s-server/catalog-info.yaml
  services/nps/catalog-info.yaml
  services/smart-alerting/catalog-info.yaml
  services/space-metrics/catalog-info.yaml
  services/tracer-bullet/catalog-info.yaml
  services/vsm/catalog-info.yaml
  templates/defaults/parameters/deployment-config.yaml
  templates/defaults/parameters/repo-config.yaml
  templates/defaults/parameters/service-info.yaml
  templates/defaults/steps/publish-and-register.yaml
  templates/python-service/template.yaml
Due: backstage-catalog-validate

docs: add DEVELOPMENT_WORKFLOW.md — plan/build/review cycle with gemma4:e4b and GitOps branching
  docs/DEVELOPMENT_WORKFLOW.md
Due: mkdocs-validate

feat(dcp): Phase 3b — DORA metrics exporter, AI amplification rules, SPACE aliases
  platform/apps/grafana/dashboards/dora-metrics-dashboard.json
  platform/apps/prometheus/ai-amplification-recording-rules.yaml
  platform/apps/prometheus/gen-ai-recording-rules.yaml
  platform/apps/prometheus/space-metric-aliases.yaml
  services/dora-metrics/Dockerfile
  services/dora-metrics/app/main.py
  services/dora-metrics/catalog-info.yaml
  services/dora-metrics/requirements.txt
  services/location.yaml
Due: backstage-catalog-validate

fix(ci): resolve a11y workflow failures — Lighthouse URL, needs context, JUnit reporter
  .github/workflows/accessibility-testing.yml
  design-system/jest.config.js
  design-system/lighthouserc.json
  design-system/package.json
Due: none

fix(ci): resolve 7 failing checks in code-quality workflow
  .github/actions/setup-python-env/action.yml
  .github/workflows/code-quality.yml
  scripts/aggregate-dora-timestamps.sh
  scripts/dev-up.sh
  tests/e2e/validate-pipeline.sh
Due: none

fix(ci): remove orphaned lines from security-scanning job conversion
  .github/workflows/code-quality.yml
Due: none

fix(infra): upgrade AWS provider lock to 6.49.0 — resolves version constraint conflict
  infra/aws/.terraform.lock.hcl
Due: none

fix(ci): remove if:always() from security-scanning job to prevent wasted CI minutes on cancellation
  .github/workflows/code-quality.yml
Due: none

fix(ci): add coreutils for BATS timeout command
  .github/workflows/code-quality.yml
  .golangci.yml
  extensions/ai/services/rag/app/main.py
  platform/apps/prometheus/space-metric-aliases.yaml
  services/cloud-provider/tests/unit/providers/test_azure_provider.py
  services/devex-survey-automation/app/main.py
  services/dora-metrics/app/main.py
  services/experimentation/app/statistical_analysis.py
  services/feedback/app/main.py
  services/feedback/app/metrics.py
  services/insights/migrations/versions/001_initial_schema.py
  services/nps/app/main.py
  services/tracer-bullet/app/main.py
  services/tracer-bullet/tests/bdd/steps/observability_steps.py
  services/vsm/migrations/versions/001_initial_schema.py
  services/vsm/migrations/versions/002_add_stage_metadata.py
  tests/bdd/step_definitions/test_trivy_integration.py
Due: none

feat(agents): add workflow-focused agents and skills
  .agents/skills/dora-instrumentor/SKILL.md
  .agents/skills/reusable-workflow-builder/SKILL.md
  .agents/skills/workflow-security-audit/SKILL.md
  .github/agents/AGENTS.md
  .github/agents/workflow-maintainer.agent.md
Due: none

fix(ci): split pre-commit workflow into 4 parallel layer jobs
  .agents/skills/pre-commit-local/SKILL.md
  .github/agents/AGENTS.md
  .github/workflows/pre-commit.yml
  Makefile
Due: none

fix(infra): remove unused tags variable from eks-namespace module
  infra/terraform/modules/aws/eks-namespace/variables.tf
Due: none
